n8n_workflows/control_plane_v2_personalized.json
{
  "updatedAt": "2026-02-15T16:13:16.722Z",
  "createdAt": "2026-02-07T17:08:01.880Z",
  "id": "gpQ8PuG1Cxd_w41UB8rk9",
  "name": "Control Plane v2 \u2013 Evidence-Grade Personalized Packet",
  "description": null,
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtDay": 0
            }
          ]
        }
      },
      "id": "6bbf342b-cf91-47b8-b02f-a8105fbd5be8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {},
      "id": "5e75826b-5354-4a67-b2e3-6695e8d886cb",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst day = now.getUTCDay(); // 0=Sun, 1=Mon, ...\n\n// Find this Monday (start of current week)\nconst thisMonday = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()));\nconst diff = day === 0 ? 6 : day - 1;\nthisMonday.setUTCDate(thisMonday.getUTCDate() - diff);\n\n// This Sunday = thisMonday + 6\nconst thisSunday = new Date(thisMonday);\nthisSunday.setUTCDate(thisSunday.getUTCDate() + 6);\n\nconst weekStart = thisMonday.toISOString().slice(0, 10);\nconst weekEnd = thisSunday.toISOString().slice(0, 10);\n\nreturn [{ json: { week_start: weekStart, week_end: weekEnd } }];"
      },
      "id": "aedbad0f-a002-41f2-ac79-a960d13240fc",
      "name": "Compute Week Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        190
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT user_id\nFROM public.user_company_profiles\nWHERE onboarding_completed_at IS NOT NULL;",
        "options": {}
      },
      "id": "5a4dad39-5f8b-4863-afb6-bad5f955c25a",
      "name": "Get Onboarded Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        190
      ],
      "credentials": {
        "postgres": {
          "id": "NXUM3TVSIAhaVaEL",
          "name": "Supabase Postgres (Shared Pooler)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const users = $input.all().map(item => item.json);\nconst weekRange = $('Compute Week Range').first().json;\n// No generic packets \u2014 every packet must belong to a specific user\nconst userList = users.map(u => ({ user_id: u.user_id, is_generic: false }));\nreturn userList.map(u => ({ json: { ...u, ...weekRange } }));"
      },
      "id": "4e8093ed-77a5-443b-814d-8b321fbd1060",
      "name": "Prepare User List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        190
      ]
    },
    {
      "parameters": {
        "options": {
          "batchSize": 1
        }
      },
      "id": "b73bd1b0-63cc-4bb3-8a70-ef5277cf48bb",
      "name": "Loop Through Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        190
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM public.get_user_context('{{ $json.user_id }}')\nUNION ALL\nSELECT \n  'Generic' as company_name,\n  NULL as company_domain,\n  ARRAY[]::uuid[] as competitor_ids,\n  ARRAY[]::text[] as competitor_names,\n  ARRAY[]::text[] as competitor_domains,\n  NULL as user_industry\nWHERE NOT EXISTS (\n  SELECT 1 FROM public.get_user_context('{{ $json.user_id }}')\n);",
        "options": {
          "queryBatching": "independently"
        }
      },
      "id": "9e4506e0-69bb-4eaf-abc1-aa0fa637146a",
      "name": "Load User Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1258,
        190
      ],
      "credentials": {
        "postgres": {
          "id": "NXUM3TVSIAhaVaEL",
          "name": "Supabase Postgres (Shared Pooler)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst loopData = $('Loop Through Users').first().json;\nif (loopData.is_generic) {\n  return [{ json: {\n    user_id: null,\n    company_name: null,\n    company_domain: null,\n    competitor_ids: [],\n    competitor_names: [],\n    competitor_domains: [],\n    user_industry: null,\n    is_personalized: false,\n    week_start: loopData.week_start,\n    week_end: loopData.week_end\n  }}];\n}\nreturn [{ json: {\n  user_id: loopData.user_id,\n  company_name: input.company_name || null,\n  company_domain: input.company_domain || null,\n  competitor_ids: input.competitor_ids || [],\n  competitor_names: input.competitor_names || [],\n  competitor_domains: input.competitor_domains || [],\n  user_industry: input.user_industry || null,\n  is_personalized: !!(input.company_name),\n  week_start: loopData.week_start,\n  week_end: loopData.week_end\n}}];"
      },
      "id": "cdbcb7f5-b7a3-460b-913c-92dd9c57fcf4",
      "name": "Format User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1508,
        190
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, company_id, signal_type, severity, confidence::numeric,\n  title, summary, evidence_urls::text[] as evidence_urls, source_schema, source_table,\n  source_id, meta, created_at\nFROM control_plane.signals\nWHERE created_at >= '{{ $json.week_start }}'::date\n  AND created_at < '{{ $json.week_end }}'::date + interval '1 day'\n\nUNION ALL\n\nSELECT\n  e.id,\n  e.company_id,\n  CASE e.category\n    WHEN 'platform_shift' THEN 'horizon'\n    WHEN 'distribution_shift' THEN 'distribution'\n    WHEN 'buyer_risk' THEN 'objection'\n    WHEN 'category_formation' THEN 'narrative'\n    ELSE 'horizon'\n  END as signal_type,\n  e.severity,\n  0.7 as confidence,\n  e.title,\n  COALESCE(e.summary, e.title) as summary,\n  ARRAY(SELECT jsonb_array_elements_text(COALESCE(e.evidence_urls, '[]'::jsonb))) as evidence_urls,\n  'horizon' as source_schema,\n  'events' as source_table,\n  e.id as source_id,\n  jsonb_build_object('source_name', s.name, 'category', e.category, 'is_horizon_event', true) as meta,\n  e.created_at\nFROM horizon.events e\nJOIN horizon.sources s ON e.source_id = s.id\nWHERE e.created_at >= '{{ $json.week_start }}'::date\n  AND e.created_at < '{{ $json.week_end }}'::date + interval '1 day'\n  AND NOT EXISTS (\n    SELECT 1 FROM control_plane.signals cs \n    WHERE cs.source_schema = 'horizon' AND cs.source_table = 'events' AND cs.source_id = e.id\n  )\n\nORDER BY signal_type, severity DESC, created_at DESC;",
        "options": {}
      },
      "id": "74e44ca3-2a42-4f55-ae88-d9df5a5e34cb",
      "name": "Load Signals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1758,
        190
      ],
      "credentials": {
        "postgres": {
          "id": "NXUM3TVSIAhaVaEL",
          "name": "Supabase Postgres (Shared Pooler)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const signals = $input.all().map(item => item.json);\nconst userContext = $('Format User Context').first().json;\nconst weekRange = { week_start: userContext.week_start, week_end: userContext.week_end };\n\nconst SHIP_CAPS = {\n  messaging: 8, narrative: 5, icp: 5, horizon: 3, objection: 5,\n  pricing: 4, proof: 3, distribution: 3, hiring: 2, launch_decay: 2, experiment: 5\n};\nconst MAX_TOTAL = 45;\nconst WEIGHTS = { severity: 8, recency: 30, confidence: 15, source_quality: 15 };\n\nfunction filterByUserCompetitors(allSignals, ctx) {\n  if (!ctx || !ctx.competitor_ids || ctx.competitor_ids.length === 0) return allSignals;\n  const competitorIds = new Set(ctx.competitor_ids);\n  const competitorDomains = new Set((ctx.competitor_domains || []).map(d => d?.toLowerCase()));\n  const competitorNames = new Set((ctx.competitor_names || []).map(n => n?.toLowerCase()));\n  return allSignals.filter(signal => {\n    if (signal.company_id && competitorIds.has(signal.company_id)) return true;\n    for (const url of (signal.evidence_urls || [])) {\n      const urlLower = (url || '').toLowerCase();\n      for (const domain of competitorDomains) { if (domain && urlLower.includes(domain)) return true; }\n    }\n    const titleLower = (signal.title || '').toLowerCase();\n    const summaryLower = (signal.summary || '').toLowerCase();\n    for (const name of competitorNames) {\n      if (name && (titleLower.includes(name) || summaryLower.includes(name))) return true;\n    }\n    return false;\n  });\n}\n\nconst filteredSignals = filterByUserCompetitors(signals, userContext);\nlet relevantSignals = [...filteredSignals];\n\n// Auto-widening tiers\nif (relevantSignals.length < 10 && userContext.user_industry) {\n  const industrySignals = signals.filter(s => {\n    if (relevantSignals.includes(s)) return false;\n    return (s.meta || {}).industry === userContext.user_industry;\n  });\n  industrySignals.forEach(s => { s._widened = 'industry'; });\n  relevantSignals = [...relevantSignals, ...industrySignals];\n}\nif (relevantSignals.length < 10) {\n  const horizonSignals = signals.filter(s => !relevantSignals.includes(s) && s.signal_type === 'horizon');\n  horizonSignals.forEach(s => { s._widened = 'horizon'; });\n  relevantSignals = [...relevantSignals, ...horizonSignals];\n}\nif (relevantSignals.length < 5) {\n  const highSeverity = signals.filter(s => !relevantSignals.includes(s) && (s.severity || 0) >= 4);\n  highSeverity.forEach(s => { s._widened = 'market'; });\n  relevantSignals = [...relevantSignals, ...highSeverity];\n}\n\nfunction computeScore(signal) {\n  const now = new Date();\n  const daysOld = (now - new Date(signal.created_at)) / (1000 * 60 * 60 * 24);\n  const severityScore = (signal.severity || 3) * WEIGHTS.severity;\n  const recencyScore = Math.max(0, WEIGHTS.recency - (daysOld * 4.3));\n  const confidenceScore = (parseFloat(signal.confidence) || 0.5) * WEIGHTS.confidence;\n  const sq = signal.source_quality || 'medium';\n  const sourceScore = sq === 'high' ? 15 : sq === 'medium' ? 10 : 5;\n  return Math.round((severityScore + recencyScore + confidenceScore + sourceScore) * 100) / 100;\n}\n\nconst enriched = relevantSignals.map(s => ({ ...s, score: computeScore(s) }));\n\nconst sectionNames = ['messaging','narrative','icp','horizon','objection','pricing','proof','distribution','hiring','launch_decay','experiment'];\nconst selectedBySection = {};\nlet totalSelected = [];\nfor (const sec of sectionNames) {\n  const cap = SHIP_CAPS[sec] || 6;\n  const secSignals = enriched.filter(s => s.signal_type === sec).sort((a,b) => b.score - a.score).slice(0, cap);\n  selectedBySection[sec] = secSignals;\n  totalSelected = totalSelected.concat(secSignals);\n}\nif (totalSelected.length > MAX_TOTAL) {\n  totalSelected.sort((a,b) => b.score - a.score);\n  totalSelected = totalSelected.slice(0, MAX_TOTAL);\n}\n\n// Build STRUCTURED signal input \u2014 full data for each signal\nconst structuredSignals = totalSelected.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  severity: s.severity,\n  confidence: s.confidence,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || [],\n  source_schema: s.source_schema,\n  detected_at: s.created_at,\n  widened_from: s._widened || null\n}));\n\nconst isPersonalized = userContext.is_personalized;\nconst companyName = userContext.company_name || 'your company';\nconst competitorsList = (userContext.competitor_names || []).join(', ') || 'competitors';\n\n// ====== ANTI-HALLUCINATION PROMPT ======\nconst systemPrompt = `You are a SIGNAL FORMATTER for a competitive intelligence system. You are NOT an analyst. You do NOT generate insights.\n\nABSOLUTE RULES \u2014 VIOLATION OF ANY RULE INVALIDATES THE ENTIRE OUTPUT:\n1. You MUST ONLY report information that is EXPLICITLY present in the signals provided below.\n2. Every statement you write MUST include a \"signal_ids\" array citing the specific signal(s) that support it.\n3. If you CANNOT cite a signal_id for a statement, you MUST NOT include that statement.\n4. You MUST NOT infer, speculate, predict, or extrapolate beyond what the signals explicitly state.\n5. You MUST NOT fabricate competitor names, pricing, features, product launches, hires, or events.\n6. You MUST NOT add context, background, or market knowledge that is not in the signals.\n7. If a section has no relevant signals, return empty arrays for that section. Do NOT fill it with invented content.\n8. Use the EXACT language from signals where possible. Paraphrase minimally.\n9. For widened signals (industry/horizon/market), prefix with the context tag provided.\n\n${isPersonalized ? `COMPANY: ${companyName}\\nTRACKED COMPETITORS: ${competitorsList}\\nFrame observations as \"${companyName} vs [Competitor]\" where relevant, but ONLY based on signal data.` : ''}\n\nOUTPUT FORMAT \u2014 Strict JSON:\n{\n  \"packet_title\": \"Week of YYYY-MM-DD: [brief factual title based on signals]\",\n  \"exec_summary\": [\n    { \"text\": \"string \u2014 one observation\", \"signal_ids\": [\"uuid\"] }\n  ],\n  \"sections\": {\n    \"messaging\": {\n      \"summary\": \"string \u2014 factual summary of messaging signals only\",\n      \"highlights\": [\n        { \"text\": \"string \u2014 one observed change\", \"signal_ids\": [\"uuid\"] }\n      ],\n      \"action_items\": [\n        { \"text\": \"string \u2014 recommended action based on observed signal\", \"signal_ids\": [\"uuid\"] }\n      ]\n    },\n    \"narrative\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] },\n    \"icp\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] },\n    \"horizon\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] },\n    \"objection\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] }\n  },\n  \"key_questions\": [\n    { \"text\": \"string \u2014 question raised by the signals\", \"signal_ids\": [\"uuid\"] }\n  ],\n  \"action_mapping\": {\n    \"this_week\": [{ \"action\": \"str\", \"owner\": \"str\", \"priority\": \"str\", \"signal_ids\": [\"uuid\"] }],\n    \"monitor\": [{ \"signal\": \"str\", \"trigger\": \"str\", \"action\": \"str\", \"signal_ids\": [\"uuid\"] }]\n  }\n}\n\nCRITICAL: Do NOT include \"bets\" or \"predictions\" sections. Only report what was observed.\nIf there are fewer than 3 signals for a section, it is BETTER to return fewer highlights than to invent content.`;\n\nconst userContent = `Week: ${weekRange.week_start} to ${weekRange.week_end}\n${isPersonalized ? 'Company: ' + companyName : ''}\nTotal signals available: ${signals.length}\nSignals selected for this packet: ${totalSelected.length}\n\nSIGNALS (structured input \u2014 use signal_id to cite every claim):\n${JSON.stringify(structuredSignals, null, 2)}\n\nOrganize and summarize ONLY the signals above. Do not add any information not present in the signals.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4000,\n  temperature: 0.1,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\n// Build signal ID set for validation\nconst validSignalIds = totalSelected.map(s => s.id);\n\nreturn [{ json: {\n  week_start: weekRange.week_start,\n  week_end: weekRange.week_end,\n  user_id: userContext.user_id,\n  user_company_name: userContext.company_name,\n  is_personalized: isPersonalized,\n  competitor_names: userContext.competitor_names || [],\n  total_signals: signals.length,\n  filtered_signals: filteredSignals.length,\n  selected_count: totalSelected.length,\n  selected_signals: totalSelected,\n  valid_signal_ids: validSignalIds,\n  structured_signals: structuredSignals,\n  anthropic_body: anthropicBody\n}}];"
      },
      "id": "af2b85eb-b22b-4b1e-bc9f-54e6c5a28bcd",
      "name": "Score + Select Top Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2008,
        190
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 120000
        },
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
      },
      "id": "1234d908-5f69-4d91-8a1b-773ac6371374",
      "name": "Anthropic Synthesize Packet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2258,
        190
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Nd6JH2F1kupUoZa0",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst selectData = $('Score + Select Top Signals').first().json;\nconst validIds = new Set(selectData.valid_signal_ids || []);\n\nlet packetData;\ntry {\n  const content = resp.content?.[0]?.text || '{}';\n  const cleaned = content.replace(/^```json?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n  packetData = JSON.parse(cleaned);\n} catch (e) {\n  packetData = {\n    packet_title: `Week of ${selectData.week_start}: Intelligence Packet (parse error)`,\n    exec_summary: [],\n    sections: { messaging: { summary: '', highlights: [], action_items: [] }, narrative: { summary: '', highlights: [], action_items: [] }, icp: { summary: '', highlights: [], action_items: [] }, horizon: { summary: '', highlights: [], action_items: [] }, objection: { summary: '', highlights: [], action_items: [] } },\n    key_questions: [],\n    action_mapping: { this_week: [], monitor: [] }\n  };\n}\n\n// ====== VALIDATION: Strip uncited and invalid-cited claims ======\nconst auditTrail = [];\nconst validationErrors = [];\n\nfunction validateCitedItems(items, location) {\n  if (!Array.isArray(items)) return [];\n  return items.filter(item => {\n    const text = typeof item === 'string' ? item : (item.text || item.action || item.signal || '');\n    const sids = item.signal_ids || [];\n    \n    // If item is a plain string (old format), flag but keep with warning\n    if (typeof item === 'string') {\n      validationErrors.push({ type: 'uncited_string', location, text: item });\n      return false; // Strip uncited string claims\n    }\n    \n    // Must have at least one signal_id\n    if (!sids || sids.length === 0) {\n      validationErrors.push({ type: 'no_citation', location, text });\n      return false;\n    }\n    \n    // Validate signal_ids exist in our input set\n    const validSids = sids.filter(sid => validIds.has(sid));\n    if (validSids.length === 0) {\n      validationErrors.push({ type: 'invalid_citations', location, text, cited: sids });\n      return false;\n    }\n    \n    // Keep item, record in audit trail\n    item.signal_ids = validSids; // Only keep valid signal_ids\n    auditTrail.push({ claim_text: text, claim_location: location, signal_ids: validSids });\n    return true;\n  });\n}\n\n// Validate exec_summary\nif (packetData.exec_summary) {\n  packetData.exec_summary = validateCitedItems(packetData.exec_summary, 'exec_summary');\n}\n\n// Validate sections\nconst sectionNames = ['messaging', 'narrative', 'icp', 'horizon', 'objection'];\nfor (const sec of sectionNames) {\n  const section = packetData.sections?.[sec];\n  if (!section) continue;\n  \n  if (section.highlights) {\n    section.highlights = validateCitedItems(section.highlights, `${sec}.highlights`);\n  }\n  if (section.action_items) {\n    section.action_items = validateCitedItems(section.action_items, `${sec}.action_items`);\n  }\n}\n\n// Validate key_questions\nif (packetData.key_questions) {\n  packetData.key_questions = validateCitedItems(packetData.key_questions, 'key_questions');\n}\n\n// Validate action_mapping\nif (packetData.action_mapping) {\n  if (packetData.action_mapping.this_week) {\n    packetData.action_mapping.this_week = validateCitedItems(packetData.action_mapping.this_week, 'action_mapping.this_week');\n  }\n  if (packetData.action_mapping.monitor) {\n    packetData.action_mapping.monitor = validateCitedItems(packetData.action_mapping.monitor, 'action_mapping.monitor');\n  }\n}\n\n// Strip predictions and bets entirely (speculative features)\ndelete packetData.predictions;\ndelete packetData.bets;\n\n// Convert cited exec_summary items to plain text array for DB storage\n// but keep signal_ids in a separate field for the audit trail\nconst execSummaryTexts = (packetData.exec_summary || []).map(item => \n  typeof item === 'string' ? item : (item.text || '')\n);\n\n// Convert sections highlights/action_items to plain text arrays\nfor (const sec of sectionNames) {\n  const section = packetData.sections?.[sec];\n  if (!section) continue;\n  section.highlights = (section.highlights || []).map(h => typeof h === 'string' ? h : (h.text || ''));\n  section.action_items = (section.action_items || []).map(a => typeof a === 'string' ? a : (a.text || ''));\n}\n\n// Convert key_questions to plain text\nconst keyQuestionsTexts = (packetData.key_questions || []).map(q =>\n  typeof q === 'string' ? q : (q.text || '')\n);\n\n// Store the validation metadata\nconst validationSummary = {\n  total_claims: auditTrail.length + validationErrors.length,\n  verified_claims: auditTrail.length,\n  stripped_claims: validationErrors.length,\n  errors: validationErrors\n};\n\nreturn [{ json: {\n  ...selectData,\n  packet: {\n    ...packetData,\n    exec_summary: execSummaryTexts,\n    key_questions: keyQuestionsTexts,\n    bets: [],\n    predictions: []\n  },\n  audit_trail: auditTrail,\n  validation_summary: validationSummary\n}}];"
      },
      "id": "ea217774-06f2-4de0-81cb-f44c7b764106",
      "name": "Parse Packet JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2508,
        190
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO control_plane.packets (\n  week_start, week_end, packet_title, exec_summary, sections, key_questions, bets,\n  predictions, action_mapping, user_id, user_company_name, is_personalized\n)\nVALUES (\n  '{{ $json.week_start }}'::date,\n  '{{ $json.week_end }}'::date,\n  '{{ $json.packet.packet_title.replace(/'/g, \"''\") }}',\n  ARRAY[{{ $json.packet.exec_summary.map(s => \"'\" + s.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n  '{{ JSON.stringify($json.packet.sections).replace(/'/g, \"''\") }}'::jsonb,\n  ARRAY[{{ $json.packet.key_questions.map(q => \"'\" + q.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n  '{{ JSON.stringify($json.packet.bets || []).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.packet.predictions || []).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.packet.action_mapping || {\"this_week\":[],\"monitor\":[]}).replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.user_id ? \"'\" + $json.user_id + \"'\" : 'NULL' }},\n  {{ $json.user_company_name ? \"'\" + $json.user_company_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.is_personalized || false }}\n)\nON CONFLICT (COALESCE(user_id, '00000000-0000-0000-0000-000000000000'::uuid), week_start, week_end) \nDO UPDATE SET \n  packet_title = EXCLUDED.packet_title,\n  exec_summary = EXCLUDED.exec_summary,\n  sections = EXCLUDED.sections,\n  key_questions = EXCLUDED.key_questions,\n  bets = EXCLUDED.bets,\n  predictions = EXCLUDED.predictions,\n  action_mapping = EXCLUDED.action_mapping,\n  user_company_name = EXCLUDED.user_company_name,\n  is_personalized = EXCLUDED.is_personalized\nRETURNING id;",
        "options": {}
      },
      "id": "ba521444-5abc-47bf-87e7-5ca73030925a",
      "name": "Upsert Packet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2758,
        190
      ],
      "credentials": {
        "postgres": {
          "id": "NXUM3TVSIAhaVaEL",
          "name": "Supabase Postgres (Shared Pooler)"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const weekRange = $('Format User Context').first().json;\nconst packetResult = $('Upsert Packet').first().json;\nconst scoreResult = $('Score + Select Top Signals').first().json;\nconst userCtx = $('Format User Context').first().json;\n\nconst weekStart = weekRange.week_start;\nconst weekEnd = weekRange.week_end;\nconst packetId = packetResult.id;\nconst isPersonalized = userCtx.is_personalized;\nconst companyName = userCtx.company_name || 'your company';\n\nconst signals = scoreResult.selected_signals.filter(s =>\n  ['messaging', 'narrative', 'icp', 'objection'].includes(s.signal_type)\n);\n\nconst structuredSignals = signals.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  severity: s.severity,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || []\n}));\n\nconst systemPrompt = `You are a competitive intelligence analyst extracting buyer objections from signals${isPersonalized ? ` for ${companyName}` : ''}.\n\nYour role: Identify objections a buyer might raise based on the competitive signals, and provide evidence-grounded rebuttals that sales reps can use on calls.\n\nABSOLUTE RULES:\n1. ONLY extract objections that are EXPLICITLY mentioned or directly implied in the signals.\n2. Every objection MUST cite the signal_id(s) it came from.\n3. Do NOT invent objections, competitor claims, pricing, or features not in the signals.\n4. Rebuttals should reference signal evidence, not made-up proof points.\n5. If fewer than 3 objections can be extracted, return fewer. Do NOT pad with invented content.\n6. Each objection must include a \"personas\" array listing which buyer roles would raise it.\n\nOutput STRICT JSON only:\n{\n  \"objections\": [\n    {\n      \"id\": \"string -- unique identifier, e.g. obj-1, obj-2\",\n      \"category\": \"price_value|timing|complexity|risk|fit|competition|inertia\",\n      \"objection_text\": \"string -- as a buyer would say it, based on signal evidence\",\n      \"frequency\": \"high|medium|low\",\n      \"personas\": [\"string -- buyer roles who raise this, e.g. VP Sales, PMM, CRO\"],\n      \"rebuttal\": {\n        \"acknowledge\": \"string -- validate the concern\",\n        \"reframe\": \"string -- shift the frame of reference\",\n        \"proof\": \"string -- cite signal evidence only\",\n        \"talk_track\": \"string -- what to say on a call, 2-3 sentences\"\n      },\n      \"signal_ids\": [\"uuid -- REQUIRED, at least one\"],\n      \"evidence_urls\": [\"string -- from the signal data\"],\n      \"is_new_this_week\": true\n    }\n  ],\n  \"total_count\": number,\n  \"new_this_week_count\": number,\n  \"categories\": [\"string -- unique categories used\"]\n}`;\n\nconst userContent = `Week: ${weekStart} to ${weekEnd}\n${isPersonalized ? 'Company: ' + companyName : ''}\n\nExtract objections from these signals ONLY:\n${JSON.stringify(structuredSignals, null, 2)}\n\nDo NOT add any objections not supported by the signal data above.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2500,\n  temperature: 0.1,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{\n  json: {\n    builder_type: 'objection_library',\n    week_start: weekStart,\n    week_end: weekEnd,\n    packet_id: packetId,\n    user_id: userCtx.user_id || null,\n    user_company_name: userCtx.company_name || null,\n    is_personalized: isPersonalized || false,\n    input_signal_count: signals.length,\n    input_signal_ids: signals.map(s => s.id),\n    anthropic_body: anthropicBody\n  }\n}];"
      },
      "id": "887498d4-0448-4d77-aecc-b6c1b8bd8075",
      "name": "Builder: Objection Library",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3258,
        190
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 120000
        },
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
      },
      "id": "d70ce400-db21-42d0-adb5-1ed118134a8a",
      "name": "Anthropic Build Objections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3508,
        190
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zg9J7ZGw7o888S6t",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const anthropicResponse = $input.first().json;\nconst builderData = $('Builder: Objection Library').first().json;\n\nconst content = anthropicResponse.content[0].text;\n\nlet objectionLibrary;\ntry {\n  const cleaned = content.replace(/^```json?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n  objectionLibrary = JSON.parse(cleaned);\n} catch (e) {\n  objectionLibrary = { objections: [], summary: { total_objections: 0, top_category: 'unknown', new_this_week: 0, trending_up: [], trending_down: [] } };\n}\n\nif (!objectionLibrary.objections || !Array.isArray(objectionLibrary.objections)) {\n  objectionLibrary.objections = [];\n}\n\nif (!objectionLibrary.summary) {\n  objectionLibrary.summary = {\n    total_objections: objectionLibrary.objections.length,\n    top_category: objectionLibrary.objections[0]?.category || 'unknown',\n    new_this_week: objectionLibrary.objections.filter(o => o.is_new_this_week).length,\n    trending_up: [],\n    trending_down: []\n  };\n}\n\nreturn [{\n  json: {\n    week_start: builderData.week_start,\n    week_end: builderData.week_end,\n    packet_id: builderData.packet_id,\n    content_json: objectionLibrary,\n    content_md: JSON.stringify(objectionLibrary, null, 2),\n    included_signal_ids: builderData.input_signal_ids,\n    objection_count: objectionLibrary.objections.length,\n    user_id: builderData.user_id,\n    user_company_name: builderData.user_company_name,\n    is_personalized: builderData.is_personalized\n  }\n}];"
      },
      "id": "4c0ddfa0-e6b2-472a-918f-9a73826267ad",
      "name": "Parse Objection Library",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3758,
        190
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "useCustomSchema": true,
        "schema": "gtm_artifacts",
        "tableId": "objection_library_versions",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "da1397b4-4046-446b-9090-d2f5d9bf168d",
      "name": "Insert Objection Library",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4008,
        190
      ],
      "credentials": {
        "supabaseApi": {
          "id": "H8tMhKgDqMwTB6An",
          "name": "Supabase \u2013 Messaging Tracker"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const weekRange = $('Format User Context').first().json;\nconst packetResult = $('Upsert Packet').first().json;\nconst scoreResult = $('Score + Select Top Signals').first().json;\nconst userCtx = $('Format User Context').first().json;\n\nconst weekStart = weekRange.week_start;\nconst weekEnd = weekRange.week_end;\nconst packetId = packetResult.id;\nconst signals = scoreResult.selected_signals;\nconst isPersonalized = userCtx.is_personalized;\nconst companyName = userCtx.company_name || 'your company';\n\nconst structuredSignals = signals.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || []\n}));\n\nconst systemPrompt = `You are a SIGNAL FORMATTER extracting buyer language phrases from competitive intelligence signals${isPersonalized ? ` for ${companyName}` : ''}.\n\nABSOLUTE RULES:\n1. ONLY extract phrases that appear in or are directly supported by the signals.\n2. Every phrase MUST cite the source_signal_id it came from.\n3. Do NOT invent buyer language, pain points, or competitive mentions not in the signals.\n4. Use EXACT language from signals where possible. Minimal paraphrasing only.\n5. If fewer than 5 phrases can be extracted, return fewer. Do NOT pad with invented content.\n\nOutput raw JSON only (no markdown fences):\n{\n  \"phrases\": [\n    {\n      \"text\": \"string \u2014 exact or near-exact phrase from signal\",\n      \"category\": \"pain_points|desired_outcomes|objections|trigger_events|evaluation_criteria|competitive_mentions\",\n      \"persona\": \"string\",\n      \"source_signal_id\": \"uuid \u2014 REQUIRED\",\n      \"confidence\": 0.0-1.0\n    }\n  ],\n  \"persona_summary\": {}\n}`;\n\nconst userContent = `Week: ${weekStart} to ${weekEnd}\n${isPersonalized ? 'Company: ' + companyName : ''}\n\nExtract buyer language phrases from these signals ONLY:\n${JSON.stringify(structuredSignals, null, 2)}\n\nDo NOT add any phrases not supported by the signal data above.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 3000,\n  temperature: 0.1,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{\n  json: {\n    builder_type: 'swipe_file',\n    week_start: weekStart,\n    week_end: weekEnd,\n    packet_id: packetId,\n    user_id: userCtx.user_id || null,\n    user_company_name: userCtx.company_name || null,\n    is_personalized: isPersonalized || false,\n    input_signal_count: signals.length,\n    input_signal_ids: signals.map(s => s.id),\n    anthropic_body: anthropicBody\n  }\n}];"
      },
      "id": "2302e724-f164-4b1b-9aa3-0597459cd2f2",
      "name": "Builder: Swipe File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4258,
        190
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 120000
        },
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
      },
      "id": "2b77e1e4-7855-402a-bc75-893b3e345bc7",
      "name": "Anthropic Build Swipe File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4508,
        190
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zg9J7ZGw7o888S6t",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const anthropicResponse = $input.first().json;\nconst builderData = $('Builder: Swipe File').first().json;\n\nconst content = anthropicResponse.content[0].text;\n\nlet swipeFile;\ntry {\n  const jsonMatch = content.match(/```json?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    swipeFile = JSON.parse(jsonMatch[1]);\n  } else {\n    swipeFile = JSON.parse(content);\n  }\n} catch (e) {\n  swipeFile = { phrases: [], persona_summary: {} };\n}\n\nif (!swipeFile.phrases || !Array.isArray(swipeFile.phrases)) {\n  swipeFile.phrases = [];\n}\n\nreturn [{\n  json: {\n    week_start: builderData.week_start,\n    week_end: builderData.week_end,\n    packet_id: builderData.packet_id,\n    content_json: swipeFile,\n    content_md: JSON.stringify(swipeFile, null, 2),\n    included_signal_ids: builderData.input_signal_ids,\n    phrase_count: swipeFile.phrases.length,\n    user_id: builderData.user_id,\n    user_company_name: builderData.user_company_name,\n    is_personalized: builderData.is_personalized\n  }\n}];"
      },
      "id": "360de101-8c5b-429b-a35d-7a6f5db66293",
      "name": "Parse Swipe File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4758,
        190
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "useCustomSchema": true,
        "schema": "gtm_artifacts",
        "tableId": "swipe_file_versions",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "98f0f2ac-e3d8-4d15-8624-88e2a081046c",
      "name": "Insert Swipe File",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5008,
        190
      ],
      "credentials": {
        "supabaseApi": {
          "id": "H8tMhKgDqMwTB6An",
          "name": "Supabase \u2013 Messaging Tracker"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const weekRange = $('Format User Context').first().json;\nconst packetResult = $('Upsert Packet').first().json;\nconst scoreResult = $('Score + Select Top Signals').first().json;\nconst userCtx = $('Format User Context').first().json;\n\nconst weekStart = weekRange.week_start;\nconst weekEnd = weekRange.week_end;\nconst packetId = packetResult.id;\nconst isPersonalized = userCtx.is_personalized;\nconst companyName = userCtx.company_name || 'your company';\nconst competitorNames = userCtx.competitor_names || [];\n\nconst signals = scoreResult.selected_signals.filter(s =>\n  ['messaging', 'icp', 'pricing', 'narrative', 'launch', 'proof', 'distribution', 'talent', 'hiring'].includes(s.signal_type)\n);\n\nconst structuredSignals = signals.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  severity: s.severity,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || []\n}));\n\nconst systemPrompt = `You are a competitive intelligence analyst building actionable battlecards from real signals${isPersonalized ? ` for ${companyName}` : ''}.\n\nYour role: Analyze the signals to produce battlecards that help sales reps WIN competitive deals. Each battlecard should provide:\n- What specifically changed this week (from signals)\n- Counter-positioning talk tracks that reframe the competitor narrative\n- Landmines to avoid that would validate the competitor's claims\n- Themes where we win and themes where we lose\n\nABSOLUTE RULES:\n1. ONLY report changes EXPLICITLY described in the signals provided.\n2. Every talk track and landmine MUST be grounded in signal evidence.\n3. Do NOT fabricate competitor pricing, features, or strategic moves.\n4. Do NOT infer strategic intent beyond what signals explicitly state.\n5. If a competitor has no signals this week, do NOT create a battlecard for them.\n6. Talk tracks should be counter-positioning strategies a seller can use on a call.\n7. Win themes = where our approach is structurally stronger. Lose themes = where competitor has genuine advantage.\n\n${isPersonalized ? `COMPANY: ${companyName}\\nTRACKED COMPETITORS: ${competitorNames.join(', ')}\\nOnly build battlecards for competitors that appear in the signals.` : ''}\n\nOutput STRICT JSON only:\n{\n  \"battlecards\": [\n    {\n      \"competitor_name\": \"string\",\n      \"what_changed_this_week\": [\"string -- one sentence each, factual observations from signals\"],\n      \"talk_tracks\": [\n        {\n          \"title\": \"string -- scenario name, e.g. 'When prospect mentions their AI features'\",\n          \"content\": \"string -- 2-3 sentence talk track the seller should use, grounded in signal evidence\"\n        }\n      ],\n      \"landmines\": [\n        {\n          \"warning\": \"string -- what NOT to say or claim\",\n          \"context\": \"string -- why this would backfire, based on signal evidence\"\n        }\n      ],\n      \"win_themes\": [\"string -- 1 sentence each, where our approach is structurally stronger\"],\n      \"lose_themes\": [\"string -- 1 sentence each, where competitor has genuine advantage we should acknowledge\"]\n    }\n  ]\n}`;\n\nconst userContent = `Week: ${weekStart} to ${weekEnd}\n${isPersonalized ? 'Company: ' + companyName + '\\nTracked Competitors: ' + competitorNames.join(', ') : ''}\n\nBuild competitive battlecards from these signals:\n${JSON.stringify(structuredSignals, null, 2)}\n\nFor each competitor with signals, produce a battlecard with:\n- what_changed_this_week: factual changes from the signals\n- talk_tracks: counter-positioning strategies sellers can use (title + content)\n- landmines: what to avoid saying (warning + context)\n- win_themes: where ${isPersonalized ? companyName : 'we'} structurally win\n- lose_themes: where the competitor has genuine advantage\n\nDo NOT add any competitive claims not supported by the signal data above.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4000,\n  temperature: 0.2,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{\n  json: {\n    builder_type: 'battlecards',\n    week_start: weekStart,\n    week_end: weekEnd,\n    packet_id: packetId,\n    user_id: userCtx.user_id || null,\n    user_company_name: userCtx.company_name || null,\n    is_personalized: isPersonalized || false,\n    input_signal_count: signals.length,\n    input_signal_ids: signals.map(s => s.id),\n    anthropic_body: anthropicBody\n  }\n}];"
      },
      "id": "2a6ba653-8459-4fb0-ab17-6a9e13d977de",
      "name": "Builder: Battlecards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5258,
        190
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 120000
        },
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
      },
      "id": "5c98ba00-69ac-4e4a-9696-23f2fcc82e43",
      "name": "Anthropic Build Battlecards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5508,
        190
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "zg9J7ZGw7o888S6t",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const anthropicResponse = $input.first().json;\nconst builderData = $('Builder: Battlecards').first().json;\n\nconst rawContent = anthropicResponse.content[0].text;\nconst cleaned = rawContent.replace(/^```json?\\s*\\n?/, '').replace(/^```\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n\nlet battlecardsData;\ntry {\n  battlecardsData = JSON.parse(cleaned);\n} catch (e) {\n  battlecardsData = { battlecards: [] };\n}\n\nif (!battlecardsData.battlecards || !Array.isArray(battlecardsData.battlecards)) {\n  battlecardsData.battlecards = [];\n}\n\nif (battlecardsData.battlecards.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nconst items = battlecardsData.battlecards.map(card => {\n  const contentJson = {\n    competitor_name: card.competitor_name || 'Unknown',\n    what_changed_this_week: Array.isArray(card.what_changed_this_week) ? card.what_changed_this_week : [],\n    talk_tracks: Array.isArray(card.talk_tracks) ? card.talk_tracks.map(t => ({ title: t.title || t.scenario || '', content: t.content || (t.key_points || []).join(' ') || '' })) : [],\n    landmines: Array.isArray(card.landmines) ? card.landmines.map(l => ({ warning: l.warning || l.claim_to_avoid || '', context: l.context || l.why || '' })) : [],\n    win_themes: Array.isArray(card.win_themes) ? card.win_themes : [],\n    lose_themes: Array.isArray(card.lose_themes) ? card.lose_themes : []\n  };\n  return {\n    json: {\n      competitor_name: contentJson.competitor_name,\n      week_start: builderData.week_start,\n      week_end: builderData.week_end,\n      packet_id: builderData.packet_id,\n      content_json: contentJson,\n      content_md: JSON.stringify(contentJson, null, 2),\n      included_signal_ids: builderData.input_signal_ids || [],\n      user_id: builderData.user_id,\n      user_company_name: builderData.user_company_name,\n      is_personalized: builderData.is_personalized\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "85226905-a2b9-4727-81d8-eba993307070",
      "name": "Parse Battlecards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5758,
        190
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "useCustomSchema": true,
        "schema": "gtm_artifacts",
        "tableId": "battlecard_versions",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "1f9b4056-7b7b-431f-878a-e7de3fa7ffee",
      "name": "Insert Battlecards",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6008,
        190
      ],
      "credentials": {
        "supabaseApi": {
          "id": "H8tMhKgDqMwTB6An",
          "name": "Supabase \u2013 Messaging Tracker"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { complete: true } }];"
      },
      "id": "934d16e8-9f6f-47e3-a21c-d65e3665db30",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6258,
        190
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ (() => {\n    const auditTrail = $('Parse Packet JSON').first().json.audit_trail || [];\n    const packetId = $json.id;\n    if (auditTrail.length === 0) return 'SELECT 1 as audit_result; -- no claims to audit';\n    \n    const values = auditTrail.map(claim => {\n      const text = claim.claim_text.replace(/'/g, \"''\");\n      const loc = claim.claim_location.replace(/'/g, \"''\");\n      const sids = claim.signal_ids.map(s => \"'\" + s + \"'\").join(',');\n      return \"('\" + packetId + \"', '\" + text + \"', '\" + loc + \"', ARRAY[\" + sids + \"]::uuid[], true)\";\n    }).join(',\\n');\n    \n    return 'INSERT INTO control_plane.packet_claim_sources (packet_id, claim_text, claim_location, signal_ids, verified) VALUES ' + values + ' ON CONFLICT DO NOTHING RETURNING id;';\n  })()\n}}",
        "options": {}
      },
      "id": "7fa88619-f511-447d-997c-5909f4cfb7f9",
      "name": "Insert Audit Trail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3008,
        190
      ],
      "credentials": {
        "postgres": {
          "id": "NXUM3TVSIAhaVaEL",
          "name": "Supabase Postgres (Shared Pooler)"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "path": "trigger-packet-gen",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "webhookId": "trigger-packet-gen"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create action board cards from the packet's action_mapping\n-- Delete existing cards for this user+packet to avoid duplicates\nDELETE FROM learning.action_board_cards \nWHERE packet_id = '{{ $('Upsert Packet').first().json.id }}'::uuid;\n\n-- Insert 'this_week' actions\nINSERT INTO learning.action_board_cards (user_id, packet_id, action_text, owner_team, priority, signal_ids, column_status, column_order, moved_to_this_week_at, decision_type)\nSELECT \n  '{{ $('Format User Context').first().json.user_id }}'::uuid,\n  '{{ $('Upsert Packet').first().json.id }}'::uuid,\n  tw->>'action',\n  tw->>'owner',\n  LOWER(COALESCE(tw->>'priority', 'medium')),\n  CASE WHEN tw->'signal_ids' IS NOT NULL \n    THEN ARRAY(SELECT jsonb_array_elements_text(tw->'signal_ids'))::uuid[]\n    ELSE ARRAY[]::uuid[]\n  END,\n  'this_week',\n  ROW_NUMBER() OVER (ORDER BY CASE LOWER(COALESCE(tw->>'priority','medium')) WHEN 'high' THEN 1 WHEN 'medium' THEN 2 ELSE 3 END)::int,\n  NOW(),\n  'act_now'\nFROM jsonb_array_elements('{{ JSON.stringify($('Parse Packet JSON').first().json.packet.action_mapping.this_week || []).replace(/'/g, \"''\") }}'::jsonb) AS tw;\n\n-- Insert 'monitor' actions\nINSERT INTO learning.action_board_cards (user_id, packet_id, action_text, signal_headline, owner_team, priority, signal_ids, column_status, column_order, decision_type)\nSELECT \n  '{{ $('Format User Context').first().json.user_id }}'::uuid,\n  '{{ $('Upsert Packet').first().json.id }}'::uuid,\n  m->>'action',\n  m->>'signal',\n  'Intelligence',\n  'low',\n  CASE WHEN m->'signal_ids' IS NOT NULL \n    THEN ARRAY(SELECT jsonb_array_elements_text(m->'signal_ids'))::uuid[]\n    ELSE ARRAY[]::uuid[]\n  END,\n  'inbox',\n  ROW_NUMBER() OVER (ORDER BY (m->>'signal')::text)::int + 100,\n  'monitor'\nFROM jsonb_array_elements('{{ JSON.stringify($('Parse Packet JSON').first().json.packet.action_mapping.monitor || []).replace(/'/g, \"''\") }}'::jsonb) AS m;",
        "options": {}
      },
      "id": "cc1e9a00-action-board-cards-0001",
      "name": "Create Action Board Cards",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2758,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "NXUM3TVSIAhaVaEL",
          "name": "Supabase Postgres (Shared Pooler)"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Compute Week Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Compute Week Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Week Range": {
      "main": [
        [
          {
            "node": "Get Onboarded Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Onboarded Users": {
      "main": [
        [
          {
            "node": "Prepare User List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User List": {
      "main": [
        [
          {
            "node": "Loop Through Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Users": {
      "main": [
        [],
        [
          {
            "node": "Load User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Context": {
      "main": [
        [
          {
            "node": "Format User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format User Context": {
      "main": [
        [
          {
            "node": "Load Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Signals": {
      "main": [
        [
          {
            "node": "Score + Select Top Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score + Select Top Signals": {
      "main": [
        [
          {
            "node": "Anthropic Synthesize Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Synthesize Packet": {
      "main": [
        [
          {
            "node": "Parse Packet JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Packet JSON": {
      "main": [
        [
          {
            "node": "Upsert Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Packet": {
      "main": [
        [
          {
            "node": "Insert Audit Trail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Action Board Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builder: Objection Library": {
      "main": [
        [
          {
            "node": "Anthropic Build Objections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Build Objections": {
      "main": [
        [
          {
            "node": "Parse Objection Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Objection Library": {
      "main": [
        [
          {
            "node": "Insert Objection Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Objection Library": {
      "main": [
        [
          {
            "node": "Builder: Swipe File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builder: Swipe File": {
      "main": [
        [
          {
            "node": "Anthropic Build Swipe File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Build Swipe File": {
      "main": [
        [
          {
            "node": "Parse Swipe File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Swipe File": {
      "main": [
        [
          {
            "node": "Insert Swipe File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Swipe File": {
      "main": [
        [
          {
            "node": "Builder: Battlecards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builder: Battlecards": {
      "main": [
        [
          {
            "node": "Anthropic Build Battlecards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Build Battlecards": {
      "main": [
        [
          {
            "node": "Parse Battlecards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Battlecards": {
      "main": [
        [
          {
            "node": "Insert Battlecards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Battlecards": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          {
            "node": "Loop Through Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit Trail": {
      "main": [
        [
          {
            "node": "Builder: Objection Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Compute Week Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4c2b7891-47ca-47d9-ba49-76de9ac5427c",
  "activeVersionId": "4c2b7891-47ca-47d9-ba49-76de9ac5427c",
  "versionCounter": 45,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-07T17:08:01.883Z",
      "createdAt": "2026-02-07T17:08:01.883Z",
      "role": "workflow:owner",
      "workflowId": "gpQ8PuG1Cxd_w41UB8rk9",
      "projectId": "VQfJ9QnQVKeiGmRF",
      "project": {
        "updatedAt": "2026-02-01T08:52:02.000Z",
        "createdAt": "2026-02-01T08:51:29.952Z",
        "id": "VQfJ9QnQVKeiGmRF",
        "name": "PMM Signal",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "Get a job in the next 60 days",
        "creatorId": "bdf916fd-a8be-4335-9337-00ce60da9712",
        "projectRelations": [
          {
            "updatedAt": "2026-02-01T08:51:29.954Z",
            "createdAt": "2026-02-01T08:51:29.954Z",
            "userId": "bdf916fd-a8be-4335-9337-00ce60da9712",
            "projectId": "VQfJ9QnQVKeiGmRF",
            "user": {
              "updatedAt": "2026-02-14T23:00:05.000Z",
              "createdAt": "2026-01-23T17:08:39.792Z",
              "id": "bdf916fd-a8be-4335-9337-00ce60da9712",
              "email": "victorugochukwu546@gmail.com",
              "firstName": "Victor",
              "lastName": "Ugochukwu",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "HWyEaYQBAdAaS1FKTaOBu",
                "userActivatedAt": 1769249090386,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769584537142
                },
                "userClaimedAiCredits": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-15T16:13:16.724Z",
    "createdAt": "2026-02-15T16:13:16.724Z",
    "versionId": "4c2b7891-47ca-47d9-ba49-76de9ac5427c",
    "workflowId": "gpQ8PuG1Cxd_w41UB8rk9",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 16,
                "triggerAtDay": 0
              }
            ]
          }
        },
        "id": "6bbf342b-cf91-47b8-b02f-a8105fbd5be8",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          300
        ]
      },
      {
        "parameters": {},
        "id": "5e75826b-5354-4a67-b2e3-6695e8d886cb",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          80
        ]
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst day = now.getUTCDay(); // 0=Sun, 1=Mon, ...\n\n// Find this Monday (start of current week)\nconst thisMonday = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()));\nconst diff = day === 0 ? 6 : day - 1;\nthisMonday.setUTCDate(thisMonday.getUTCDate() - diff);\n\n// This Sunday = thisMonday + 6\nconst thisSunday = new Date(thisMonday);\nthisSunday.setUTCDate(thisSunday.getUTCDate() + 6);\n\nconst weekStart = thisMonday.toISOString().slice(0, 10);\nconst weekEnd = thisSunday.toISOString().slice(0, 10);\n\nreturn [{ json: { week_start: weekStart, week_end: weekEnd } }];"
        },
        "id": "aedbad0f-a002-41f2-ac79-a960d13240fc",
        "name": "Compute Week Range",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          250,
          190
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT DISTINCT user_id\nFROM public.user_company_profiles\nWHERE onboarding_completed_at IS NOT NULL;",
          "options": {}
        },
        "id": "5a4dad39-5f8b-4863-afb6-bad5f955c25a",
        "name": "Get Onboarded Users",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          500,
          190
        ],
        "credentials": {
          "postgres": {
            "id": "NXUM3TVSIAhaVaEL",
            "name": "Supabase Postgres (Shared Pooler)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const users = $input.all().map(item => item.json);\nconst weekRange = $('Compute Week Range').first().json;\n// No generic packets \u2014 every packet must belong to a specific user\nconst userList = users.map(u => ({ user_id: u.user_id, is_generic: false }));\nreturn userList.map(u => ({ json: { ...u, ...weekRange } }));"
        },
        "id": "4e8093ed-77a5-443b-814d-8b321fbd1060",
        "name": "Prepare User List",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          750,
          190
        ]
      },
      {
        "parameters": {
          "options": {
            "batchSize": 1
          }
        },
        "id": "b73bd1b0-63cc-4bb3-8a70-ef5277cf48bb",
        "name": "Loop Through Users",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1008,
          190
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM public.get_user_context('{{ $json.user_id }}')\nUNION ALL\nSELECT \n  'Generic' as company_name,\n  NULL as company_domain,\n  ARRAY[]::uuid[] as competitor_ids,\n  ARRAY[]::text[] as competitor_names,\n  ARRAY[]::text[] as competitor_domains,\n  NULL as user_industry\nWHERE NOT EXISTS (\n  SELECT 1 FROM public.get_user_context('{{ $json.user_id }}')\n);",
          "options": {
            "queryBatching": "independently"
          }
        },
        "id": "9e4506e0-69bb-4eaf-abc1-aa0fa637146a",
        "name": "Load User Context",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1258,
          190
        ],
        "credentials": {
          "postgres": {
            "id": "NXUM3TVSIAhaVaEL",
            "name": "Supabase Postgres (Shared Pooler)"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst loopData = $('Loop Through Users').first().json;\nif (loopData.is_generic) {\n  return [{ json: {\n    user_id: null,\n    company_name: null,\n    company_domain: null,\n    competitor_ids: [],\n    competitor_names: [],\n    competitor_domains: [],\n    user_industry: null,\n    is_personalized: false,\n    week_start: loopData.week_start,\n    week_end: loopData.week_end\n  }}];\n}\nreturn [{ json: {\n  user_id: loopData.user_id,\n  company_name: input.company_name || null,\n  company_domain: input.company_domain || null,\n  competitor_ids: input.competitor_ids || [],\n  competitor_names: input.competitor_names || [],\n  competitor_domains: input.competitor_domains || [],\n  user_industry: input.user_industry || null,\n  is_personalized: !!(input.company_name),\n  week_start: loopData.week_start,\n  week_end: loopData.week_end\n}}];"
        },
        "id": "cdbcb7f5-b7a3-460b-913c-92dd9c57fcf4",
        "name": "Format User Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1508,
          190
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n  id, company_id, signal_type, severity, confidence::numeric,\n  title, summary, evidence_urls::text[] as evidence_urls, source_schema, source_table,\n  source_id, meta, created_at\nFROM control_plane.signals\nWHERE created_at >= '{{ $json.week_start }}'::date\n  AND created_at < '{{ $json.week_end }}'::date + interval '1 day'\n\nUNION ALL\n\nSELECT\n  e.id,\n  e.company_id,\n  CASE e.category\n    WHEN 'platform_shift' THEN 'horizon'\n    WHEN 'distribution_shift' THEN 'distribution'\n    WHEN 'buyer_risk' THEN 'objection'\n    WHEN 'category_formation' THEN 'narrative'\n    ELSE 'horizon'\n  END as signal_type,\n  e.severity,\n  0.7 as confidence,\n  e.title,\n  COALESCE(e.summary, e.title) as summary,\n  ARRAY(SELECT jsonb_array_elements_text(COALESCE(e.evidence_urls, '[]'::jsonb))) as evidence_urls,\n  'horizon' as source_schema,\n  'events' as source_table,\n  e.id as source_id,\n  jsonb_build_object('source_name', s.name, 'category', e.category, 'is_horizon_event', true) as meta,\n  e.created_at\nFROM horizon.events e\nJOIN horizon.sources s ON e.source_id = s.id\nWHERE e.created_at >= '{{ $json.week_start }}'::date\n  AND e.created_at < '{{ $json.week_end }}'::date + interval '1 day'\n  AND NOT EXISTS (\n    SELECT 1 FROM control_plane.signals cs \n    WHERE cs.source_schema = 'horizon' AND cs.source_table = 'events' AND cs.source_id = e.id\n  )\n\nORDER BY signal_type, severity DESC, created_at DESC;",
          "options": {}
        },
        "id": "74e44ca3-2a42-4f55-ae88-d9df5a5e34cb",
        "name": "Load Signals",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1758,
          190
        ],
        "credentials": {
          "postgres": {
            "id": "NXUM3TVSIAhaVaEL",
            "name": "Supabase Postgres (Shared Pooler)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const signals = $input.all().map(item => item.json);\nconst userContext = $('Format User Context').first().json;\nconst weekRange = { week_start: userContext.week_start, week_end: userContext.week_end };\n\nconst SHIP_CAPS = {\n  messaging: 8, narrative: 5, icp: 5, horizon: 3, objection: 5,\n  pricing: 4, proof: 3, distribution: 3, hiring: 2, launch_decay: 2, experiment: 5\n};\nconst MAX_TOTAL = 45;\nconst WEIGHTS = { severity: 8, recency: 30, confidence: 15, source_quality: 15 };\n\nfunction filterByUserCompetitors(allSignals, ctx) {\n  if (!ctx || !ctx.competitor_ids || ctx.competitor_ids.length === 0) return allSignals;\n  const competitorIds = new Set(ctx.competitor_ids);\n  const competitorDomains = new Set((ctx.competitor_domains || []).map(d => d?.toLowerCase()));\n  const competitorNames = new Set((ctx.competitor_names || []).map(n => n?.toLowerCase()));\n  return allSignals.filter(signal => {\n    if (signal.company_id && competitorIds.has(signal.company_id)) return true;\n    for (const url of (signal.evidence_urls || [])) {\n      const urlLower = (url || '').toLowerCase();\n      for (const domain of competitorDomains) { if (domain && urlLower.includes(domain)) return true; }\n    }\n    const titleLower = (signal.title || '').toLowerCase();\n    const summaryLower = (signal.summary || '').toLowerCase();\n    for (const name of competitorNames) {\n      if (name && (titleLower.includes(name) || summaryLower.includes(name))) return true;\n    }\n    return false;\n  });\n}\n\nconst filteredSignals = filterByUserCompetitors(signals, userContext);\nlet relevantSignals = [...filteredSignals];\n\n// Auto-widening tiers\nif (relevantSignals.length < 10 && userContext.user_industry) {\n  const industrySignals = signals.filter(s => {\n    if (relevantSignals.includes(s)) return false;\n    return (s.meta || {}).industry === userContext.user_industry;\n  });\n  industrySignals.forEach(s => { s._widened = 'industry'; });\n  relevantSignals = [...relevantSignals, ...industrySignals];\n}\nif (relevantSignals.length < 10) {\n  const horizonSignals = signals.filter(s => !relevantSignals.includes(s) && s.signal_type === 'horizon');\n  horizonSignals.forEach(s => { s._widened = 'horizon'; });\n  relevantSignals = [...relevantSignals, ...horizonSignals];\n}\nif (relevantSignals.length < 5) {\n  const highSeverity = signals.filter(s => !relevantSignals.includes(s) && (s.severity || 0) >= 4);\n  highSeverity.forEach(s => { s._widened = 'market'; });\n  relevantSignals = [...relevantSignals, ...highSeverity];\n}\n\nfunction computeScore(signal) {\n  const now = new Date();\n  const daysOld = (now - new Date(signal.created_at)) / (1000 * 60 * 60 * 24);\n  const severityScore = (signal.severity || 3) * WEIGHTS.severity;\n  const recencyScore = Math.max(0, WEIGHTS.recency - (daysOld * 4.3));\n  const confidenceScore = (parseFloat(signal.confidence) || 0.5) * WEIGHTS.confidence;\n  const sq = signal.source_quality || 'medium';\n  const sourceScore = sq === 'high' ? 15 : sq === 'medium' ? 10 : 5;\n  return Math.round((severityScore + recencyScore + confidenceScore + sourceScore) * 100) / 100;\n}\n\nconst enriched = relevantSignals.map(s => ({ ...s, score: computeScore(s) }));\n\nconst sectionNames = ['messaging','narrative','icp','horizon','objection','pricing','proof','distribution','hiring','launch_decay','experiment'];\nconst selectedBySection = {};\nlet totalSelected = [];\nfor (const sec of sectionNames) {\n  const cap = SHIP_CAPS[sec] || 6;\n  const secSignals = enriched.filter(s => s.signal_type === sec).sort((a,b) => b.score - a.score).slice(0, cap);\n  selectedBySection[sec] = secSignals;\n  totalSelected = totalSelected.concat(secSignals);\n}\nif (totalSelected.length > MAX_TOTAL) {\n  totalSelected.sort((a,b) => b.score - a.score);\n  totalSelected = totalSelected.slice(0, MAX_TOTAL);\n}\n\n// Build STRUCTURED signal input \u2014 full data for each signal\nconst structuredSignals = totalSelected.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  severity: s.severity,\n  confidence: s.confidence,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || [],\n  source_schema: s.source_schema,\n  detected_at: s.created_at,\n  widened_from: s._widened || null\n}));\n\nconst isPersonalized = userContext.is_personalized;\nconst companyName = userContext.company_name || 'your company';\nconst competitorsList = (userContext.competitor_names || []).join(', ') || 'competitors';\n\n// ====== ANTI-HALLUCINATION PROMPT ======\nconst systemPrompt = `You are a SIGNAL FORMATTER for a competitive intelligence system. You are NOT an analyst. You do NOT generate insights.\n\nABSOLUTE RULES \u2014 VIOLATION OF ANY RULE INVALIDATES THE ENTIRE OUTPUT:\n1. You MUST ONLY report information that is EXPLICITLY present in the signals provided below.\n2. Every statement you write MUST include a \"signal_ids\" array citing the specific signal(s) that support it.\n3. If you CANNOT cite a signal_id for a statement, you MUST NOT include that statement.\n4. You MUST NOT infer, speculate, predict, or extrapolate beyond what the signals explicitly state.\n5. You MUST NOT fabricate competitor names, pricing, features, product launches, hires, or events.\n6. You MUST NOT add context, background, or market knowledge that is not in the signals.\n7. If a section has no relevant signals, return empty arrays for that section. Do NOT fill it with invented content.\n8. Use the EXACT language from signals where possible. Paraphrase minimally.\n9. For widened signals (industry/horizon/market), prefix with the context tag provided.\n\n${isPersonalized ? `COMPANY: ${companyName}\\nTRACKED COMPETITORS: ${competitorsList}\\nFrame observations as \"${companyName} vs [Competitor]\" where relevant, but ONLY based on signal data.` : ''}\n\nOUTPUT FORMAT \u2014 Strict JSON:\n{\n  \"packet_title\": \"Week of YYYY-MM-DD: [brief factual title based on signals]\",\n  \"exec_summary\": [\n    { \"text\": \"string \u2014 one observation\", \"signal_ids\": [\"uuid\"] }\n  ],\n  \"sections\": {\n    \"messaging\": {\n      \"summary\": \"string \u2014 factual summary of messaging signals only\",\n      \"highlights\": [\n        { \"text\": \"string \u2014 one observed change\", \"signal_ids\": [\"uuid\"] }\n      ],\n      \"action_items\": [\n        { \"text\": \"string \u2014 recommended action based on observed signal\", \"signal_ids\": [\"uuid\"] }\n      ]\n    },\n    \"narrative\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] },\n    \"icp\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] },\n    \"horizon\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] },\n    \"objection\": { \"summary\": \"...\", \"highlights\": [...], \"action_items\": [...] }\n  },\n  \"key_questions\": [\n    { \"text\": \"string \u2014 question raised by the signals\", \"signal_ids\": [\"uuid\"] }\n  ],\n  \"action_mapping\": {\n    \"this_week\": [{ \"action\": \"str\", \"owner\": \"str\", \"priority\": \"str\", \"signal_ids\": [\"uuid\"] }],\n    \"monitor\": [{ \"signal\": \"str\", \"trigger\": \"str\", \"action\": \"str\", \"signal_ids\": [\"uuid\"] }]\n  }\n}\n\nCRITICAL: Do NOT include \"bets\" or \"predictions\" sections. Only report what was observed.\nIf there are fewer than 3 signals for a section, it is BETTER to return fewer highlights than to invent content.`;\n\nconst userContent = `Week: ${weekRange.week_start} to ${weekRange.week_end}\n${isPersonalized ? 'Company: ' + companyName : ''}\nTotal signals available: ${signals.length}\nSignals selected for this packet: ${totalSelected.length}\n\nSIGNALS (structured input \u2014 use signal_id to cite every claim):\n${JSON.stringify(structuredSignals, null, 2)}\n\nOrganize and summarize ONLY the signals above. Do not add any information not present in the signals.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4000,\n  temperature: 0.1,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\n// Build signal ID set for validation\nconst validSignalIds = totalSelected.map(s => s.id);\n\nreturn [{ json: {\n  week_start: weekRange.week_start,\n  week_end: weekRange.week_end,\n  user_id: userContext.user_id,\n  user_company_name: userContext.company_name,\n  is_personalized: isPersonalized,\n  competitor_names: userContext.competitor_names || [],\n  total_signals: signals.length,\n  filtered_signals: filteredSignals.length,\n  selected_count: totalSelected.length,\n  selected_signals: totalSelected,\n  valid_signal_ids: validSignalIds,\n  structured_signals: structuredSignals,\n  anthropic_body: anthropicBody\n}}];"
        },
        "id": "af2b85eb-b22b-4b1e-bc9f-54e6c5a28bcd",
        "name": "Score + Select Top Signals",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2008,
          190
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "options": {
            "timeout": 120000
          },
          "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
        },
        "id": "1234d908-5f69-4d91-8a1b-773ac6371374",
        "name": "Anthropic Synthesize Packet",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2258,
          190
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Nd6JH2F1kupUoZa0",
            "name": "Header Auth account 4"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const resp = $input.first().json;\nconst selectData = $('Score + Select Top Signals').first().json;\nconst validIds = new Set(selectData.valid_signal_ids || []);\n\nlet packetData;\ntry {\n  const content = resp.content?.[0]?.text || '{}';\n  const cleaned = content.replace(/^```json?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n  packetData = JSON.parse(cleaned);\n} catch (e) {\n  packetData = {\n    packet_title: `Week of ${selectData.week_start}: Intelligence Packet (parse error)`,\n    exec_summary: [],\n    sections: { messaging: { summary: '', highlights: [], action_items: [] }, narrative: { summary: '', highlights: [], action_items: [] }, icp: { summary: '', highlights: [], action_items: [] }, horizon: { summary: '', highlights: [], action_items: [] }, objection: { summary: '', highlights: [], action_items: [] } },\n    key_questions: [],\n    action_mapping: { this_week: [], monitor: [] }\n  };\n}\n\n// ====== VALIDATION: Strip uncited and invalid-cited claims ======\nconst auditTrail = [];\nconst validationErrors = [];\n\nfunction validateCitedItems(items, location) {\n  if (!Array.isArray(items)) return [];\n  return items.filter(item => {\n    const text = typeof item === 'string' ? item : (item.text || item.action || item.signal || '');\n    const sids = item.signal_ids || [];\n    \n    // If item is a plain string (old format), flag but keep with warning\n    if (typeof item === 'string') {\n      validationErrors.push({ type: 'uncited_string', location, text: item });\n      return false; // Strip uncited string claims\n    }\n    \n    // Must have at least one signal_id\n    if (!sids || sids.length === 0) {\n      validationErrors.push({ type: 'no_citation', location, text });\n      return false;\n    }\n    \n    // Validate signal_ids exist in our input set\n    const validSids = sids.filter(sid => validIds.has(sid));\n    if (validSids.length === 0) {\n      validationErrors.push({ type: 'invalid_citations', location, text, cited: sids });\n      return false;\n    }\n    \n    // Keep item, record in audit trail\n    item.signal_ids = validSids; // Only keep valid signal_ids\n    auditTrail.push({ claim_text: text, claim_location: location, signal_ids: validSids });\n    return true;\n  });\n}\n\n// Validate exec_summary\nif (packetData.exec_summary) {\n  packetData.exec_summary = validateCitedItems(packetData.exec_summary, 'exec_summary');\n}\n\n// Validate sections\nconst sectionNames = ['messaging', 'narrative', 'icp', 'horizon', 'objection'];\nfor (const sec of sectionNames) {\n  const section = packetData.sections?.[sec];\n  if (!section) continue;\n  \n  if (section.highlights) {\n    section.highlights = validateCitedItems(section.highlights, `${sec}.highlights`);\n  }\n  if (section.action_items) {\n    section.action_items = validateCitedItems(section.action_items, `${sec}.action_items`);\n  }\n}\n\n// Validate key_questions\nif (packetData.key_questions) {\n  packetData.key_questions = validateCitedItems(packetData.key_questions, 'key_questions');\n}\n\n// Validate action_mapping\nif (packetData.action_mapping) {\n  if (packetData.action_mapping.this_week) {\n    packetData.action_mapping.this_week = validateCitedItems(packetData.action_mapping.this_week, 'action_mapping.this_week');\n  }\n  if (packetData.action_mapping.monitor) {\n    packetData.action_mapping.monitor = validateCitedItems(packetData.action_mapping.monitor, 'action_mapping.monitor');\n  }\n}\n\n// Strip predictions and bets entirely (speculative features)\ndelete packetData.predictions;\ndelete packetData.bets;\n\n// Convert cited exec_summary items to plain text array for DB storage\n// but keep signal_ids in a separate field for the audit trail\nconst execSummaryTexts = (packetData.exec_summary || []).map(item => \n  typeof item === 'string' ? item : (item.text || '')\n);\n\n// Convert sections highlights/action_items to plain text arrays\nfor (const sec of sectionNames) {\n  const section = packetData.sections?.[sec];\n  if (!section) continue;\n  section.highlights = (section.highlights || []).map(h => typeof h === 'string' ? h : (h.text || ''));\n  section.action_items = (section.action_items || []).map(a => typeof a === 'string' ? a : (a.text || ''));\n}\n\n// Convert key_questions to plain text\nconst keyQuestionsTexts = (packetData.key_questions || []).map(q =>\n  typeof q === 'string' ? q : (q.text || '')\n);\n\n// Store the validation metadata\nconst validationSummary = {\n  total_claims: auditTrail.length + validationErrors.length,\n  verified_claims: auditTrail.length,\n  stripped_claims: validationErrors.length,\n  errors: validationErrors\n};\n\nreturn [{ json: {\n  ...selectData,\n  packet: {\n    ...packetData,\n    exec_summary: execSummaryTexts,\n    key_questions: keyQuestionsTexts,\n    bets: [],\n    predictions: []\n  },\n  audit_trail: auditTrail,\n  validation_summary: validationSummary\n}}];"
        },
        "id": "ea217774-06f2-4de0-81cb-f44c7b764106",
        "name": "Parse Packet JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2508,
          190
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO control_plane.packets (\n  week_start, week_end, packet_title, exec_summary, sections, key_questions, bets,\n  predictions, action_mapping, user_id, user_company_name, is_personalized\n)\nVALUES (\n  '{{ $json.week_start }}'::date,\n  '{{ $json.week_end }}'::date,\n  '{{ $json.packet.packet_title.replace(/'/g, \"''\") }}',\n  ARRAY[{{ $json.packet.exec_summary.map(s => \"'\" + s.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n  '{{ JSON.stringify($json.packet.sections).replace(/'/g, \"''\") }}'::jsonb,\n  ARRAY[{{ $json.packet.key_questions.map(q => \"'\" + q.replace(/'/g, \"''\") + \"'\").join(',') }}]::text[],\n  '{{ JSON.stringify($json.packet.bets || []).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.packet.predictions || []).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ JSON.stringify($json.packet.action_mapping || {\"this_week\":[],\"monitor\":[]}).replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.user_id ? \"'\" + $json.user_id + \"'\" : 'NULL' }},\n  {{ $json.user_company_name ? \"'\" + $json.user_company_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.is_personalized || false }}\n)\nON CONFLICT (COALESCE(user_id, '00000000-0000-0000-0000-000000000000'::uuid), week_start, week_end) \nDO UPDATE SET \n  packet_title = EXCLUDED.packet_title,\n  exec_summary = EXCLUDED.exec_summary,\n  sections = EXCLUDED.sections,\n  key_questions = EXCLUDED.key_questions,\n  bets = EXCLUDED.bets,\n  predictions = EXCLUDED.predictions,\n  action_mapping = EXCLUDED.action_mapping,\n  user_company_name = EXCLUDED.user_company_name,\n  is_personalized = EXCLUDED.is_personalized\nRETURNING id;",
          "options": {}
        },
        "id": "ba521444-5abc-47bf-87e7-5ca73030925a",
        "name": "Upsert Packet",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2758,
          190
        ],
        "credentials": {
          "postgres": {
            "id": "NXUM3TVSIAhaVaEL",
            "name": "Supabase Postgres (Shared Pooler)"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const weekRange = $('Format User Context').first().json;\nconst packetResult = $('Upsert Packet').first().json;\nconst scoreResult = $('Score + Select Top Signals').first().json;\nconst userCtx = $('Format User Context').first().json;\n\nconst weekStart = weekRange.week_start;\nconst weekEnd = weekRange.week_end;\nconst packetId = packetResult.id;\nconst isPersonalized = userCtx.is_personalized;\nconst companyName = userCtx.company_name || 'your company';\n\nconst signals = scoreResult.selected_signals.filter(s =>\n  ['messaging', 'narrative', 'icp', 'objection'].includes(s.signal_type)\n);\n\nconst structuredSignals = signals.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  severity: s.severity,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || []\n}));\n\nconst systemPrompt = `You are a competitive intelligence analyst extracting buyer objections from signals${isPersonalized ? ` for ${companyName}` : ''}.\n\nYour role: Identify objections a buyer might raise based on the competitive signals, and provide evidence-grounded rebuttals that sales reps can use on calls.\n\nABSOLUTE RULES:\n1. ONLY extract objections that are EXPLICITLY mentioned or directly implied in the signals.\n2. Every objection MUST cite the signal_id(s) it came from.\n3. Do NOT invent objections, competitor claims, pricing, or features not in the signals.\n4. Rebuttals should reference signal evidence, not made-up proof points.\n5. If fewer than 3 objections can be extracted, return fewer. Do NOT pad with invented content.\n6. Each objection must include a \"personas\" array listing which buyer roles would raise it.\n\nOutput STRICT JSON only:\n{\n  \"objections\": [\n    {\n      \"id\": \"string -- unique identifier, e.g. obj-1, obj-2\",\n      \"category\": \"price_value|timing|complexity|risk|fit|competition|inertia\",\n      \"objection_text\": \"string -- as a buyer would say it, based on signal evidence\",\n      \"frequency\": \"high|medium|low\",\n      \"personas\": [\"string -- buyer roles who raise this, e.g. VP Sales, PMM, CRO\"],\n      \"rebuttal\": {\n        \"acknowledge\": \"string -- validate the concern\",\n        \"reframe\": \"string -- shift the frame of reference\",\n        \"proof\": \"string -- cite signal evidence only\",\n        \"talk_track\": \"string -- what to say on a call, 2-3 sentences\"\n      },\n      \"signal_ids\": [\"uuid -- REQUIRED, at least one\"],\n      \"evidence_urls\": [\"string -- from the signal data\"],\n      \"is_new_this_week\": true\n    }\n  ],\n  \"total_count\": number,\n  \"new_this_week_count\": number,\n  \"categories\": [\"string -- unique categories used\"]\n}`;\n\nconst userContent = `Week: ${weekStart} to ${weekEnd}\n${isPersonalized ? 'Company: ' + companyName : ''}\n\nExtract objections from these signals ONLY:\n${JSON.stringify(structuredSignals, null, 2)}\n\nDo NOT add any objections not supported by the signal data above.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2500,\n  temperature: 0.1,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{\n  json: {\n    builder_type: 'objection_library',\n    week_start: weekStart,\n    week_end: weekEnd,\n    packet_id: packetId,\n    user_id: userCtx.user_id || null,\n    user_company_name: userCtx.company_name || null,\n    is_personalized: isPersonalized || false,\n    input_signal_count: signals.length,\n    input_signal_ids: signals.map(s => s.id),\n    anthropic_body: anthropicBody\n  }\n}];"
        },
        "id": "887498d4-0448-4d77-aecc-b6c1b8bd8075",
        "name": "Builder: Objection Library",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3258,
          190
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "options": {
            "timeout": 120000
          },
          "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
        },
        "id": "d70ce400-db21-42d0-adb5-1ed118134a8a",
        "name": "Anthropic Build Objections",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3508,
          190
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zg9J7ZGw7o888S6t",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const anthropicResponse = $input.first().json;\nconst builderData = $('Builder: Objection Library').first().json;\n\nconst content = anthropicResponse.content[0].text;\n\nlet objectionLibrary;\ntry {\n  const cleaned = content.replace(/^```json?\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n  objectionLibrary = JSON.parse(cleaned);\n} catch (e) {\n  objectionLibrary = { objections: [], summary: { total_objections: 0, top_category: 'unknown', new_this_week: 0, trending_up: [], trending_down: [] } };\n}\n\nif (!objectionLibrary.objections || !Array.isArray(objectionLibrary.objections)) {\n  objectionLibrary.objections = [];\n}\n\nif (!objectionLibrary.summary) {\n  objectionLibrary.summary = {\n    total_objections: objectionLibrary.objections.length,\n    top_category: objectionLibrary.objections[0]?.category || 'unknown',\n    new_this_week: objectionLibrary.objections.filter(o => o.is_new_this_week).length,\n    trending_up: [],\n    trending_down: []\n  };\n}\n\nreturn [{\n  json: {\n    week_start: builderData.week_start,\n    week_end: builderData.week_end,\n    packet_id: builderData.packet_id,\n    content_json: objectionLibrary,\n    content_md: JSON.stringify(objectionLibrary, null, 2),\n    included_signal_ids: builderData.input_signal_ids,\n    objection_count: objectionLibrary.objections.length,\n    user_id: builderData.user_id,\n    user_company_name: builderData.user_company_name,\n    is_personalized: builderData.is_personalized\n  }\n}];"
        },
        "id": "4c0ddfa0-e6b2-472a-918f-9a73826267ad",
        "name": "Parse Objection Library",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3758,
          190
        ]
      },
      {
        "parameters": {
          "operation": "create",
          "useCustomSchema": true,
          "schema": "gtm_artifacts",
          "tableId": "objection_library_versions",
          "dataToSend": "autoMapInputData",
          "options": {}
        },
        "id": "da1397b4-4046-446b-9090-d2f5d9bf168d",
        "name": "Insert Objection Library",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          4008,
          190
        ],
        "credentials": {
          "supabaseApi": {
            "id": "H8tMhKgDqMwTB6An",
            "name": "Supabase \u2013 Messaging Tracker"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const weekRange = $('Format User Context').first().json;\nconst packetResult = $('Upsert Packet').first().json;\nconst scoreResult = $('Score + Select Top Signals').first().json;\nconst userCtx = $('Format User Context').first().json;\n\nconst weekStart = weekRange.week_start;\nconst weekEnd = weekRange.week_end;\nconst packetId = packetResult.id;\nconst signals = scoreResult.selected_signals;\nconst isPersonalized = userCtx.is_personalized;\nconst companyName = userCtx.company_name || 'your company';\n\nconst structuredSignals = signals.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || []\n}));\n\nconst systemPrompt = `You are a SIGNAL FORMATTER extracting buyer language phrases from competitive intelligence signals${isPersonalized ? ` for ${companyName}` : ''}.\n\nABSOLUTE RULES:\n1. ONLY extract phrases that appear in or are directly supported by the signals.\n2. Every phrase MUST cite the source_signal_id it came from.\n3. Do NOT invent buyer language, pain points, or competitive mentions not in the signals.\n4. Use EXACT language from signals where possible. Minimal paraphrasing only.\n5. If fewer than 5 phrases can be extracted, return fewer. Do NOT pad with invented content.\n\nOutput raw JSON only (no markdown fences):\n{\n  \"phrases\": [\n    {\n      \"text\": \"string \u2014 exact or near-exact phrase from signal\",\n      \"category\": \"pain_points|desired_outcomes|objections|trigger_events|evaluation_criteria|competitive_mentions\",\n      \"persona\": \"string\",\n      \"source_signal_id\": \"uuid \u2014 REQUIRED\",\n      \"confidence\": 0.0-1.0\n    }\n  ],\n  \"persona_summary\": {}\n}`;\n\nconst userContent = `Week: ${weekStart} to ${weekEnd}\n${isPersonalized ? 'Company: ' + companyName : ''}\n\nExtract buyer language phrases from these signals ONLY:\n${JSON.stringify(structuredSignals, null, 2)}\n\nDo NOT add any phrases not supported by the signal data above.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 3000,\n  temperature: 0.1,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{\n  json: {\n    builder_type: 'swipe_file',\n    week_start: weekStart,\n    week_end: weekEnd,\n    packet_id: packetId,\n    user_id: userCtx.user_id || null,\n    user_company_name: userCtx.company_name || null,\n    is_personalized: isPersonalized || false,\n    input_signal_count: signals.length,\n    input_signal_ids: signals.map(s => s.id),\n    anthropic_body: anthropicBody\n  }\n}];"
        },
        "id": "2302e724-f164-4b1b-9aa3-0597459cd2f2",
        "name": "Builder: Swipe File",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4258,
          190
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "options": {
            "timeout": 120000
          },
          "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
        },
        "id": "2b77e1e4-7855-402a-bc75-893b3e345bc7",
        "name": "Anthropic Build Swipe File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4508,
          190
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zg9J7ZGw7o888S6t",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const anthropicResponse = $input.first().json;\nconst builderData = $('Builder: Swipe File').first().json;\n\nconst content = anthropicResponse.content[0].text;\n\nlet swipeFile;\ntry {\n  const jsonMatch = content.match(/```json?\\s*([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    swipeFile = JSON.parse(jsonMatch[1]);\n  } else {\n    swipeFile = JSON.parse(content);\n  }\n} catch (e) {\n  swipeFile = { phrases: [], persona_summary: {} };\n}\n\nif (!swipeFile.phrases || !Array.isArray(swipeFile.phrases)) {\n  swipeFile.phrases = [];\n}\n\nreturn [{\n  json: {\n    week_start: builderData.week_start,\n    week_end: builderData.week_end,\n    packet_id: builderData.packet_id,\n    content_json: swipeFile,\n    content_md: JSON.stringify(swipeFile, null, 2),\n    included_signal_ids: builderData.input_signal_ids,\n    phrase_count: swipeFile.phrases.length,\n    user_id: builderData.user_id,\n    user_company_name: builderData.user_company_name,\n    is_personalized: builderData.is_personalized\n  }\n}];"
        },
        "id": "360de101-8c5b-429b-a35d-7a6f5db66293",
        "name": "Parse Swipe File",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4758,
          190
        ]
      },
      {
        "parameters": {
          "operation": "create",
          "useCustomSchema": true,
          "schema": "gtm_artifacts",
          "tableId": "swipe_file_versions",
          "dataToSend": "autoMapInputData",
          "options": {}
        },
        "id": "98f0f2ac-e3d8-4d15-8624-88e2a081046c",
        "name": "Insert Swipe File",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          5008,
          190
        ],
        "credentials": {
          "supabaseApi": {
            "id": "H8tMhKgDqMwTB6An",
            "name": "Supabase \u2013 Messaging Tracker"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const weekRange = $('Format User Context').first().json;\nconst packetResult = $('Upsert Packet').first().json;\nconst scoreResult = $('Score + Select Top Signals').first().json;\nconst userCtx = $('Format User Context').first().json;\n\nconst weekStart = weekRange.week_start;\nconst weekEnd = weekRange.week_end;\nconst packetId = packetResult.id;\nconst isPersonalized = userCtx.is_personalized;\nconst companyName = userCtx.company_name || 'your company';\nconst competitorNames = userCtx.competitor_names || [];\n\nconst signals = scoreResult.selected_signals.filter(s =>\n  ['messaging', 'icp', 'pricing', 'narrative', 'launch', 'proof', 'distribution', 'talent', 'hiring'].includes(s.signal_type)\n);\n\nconst structuredSignals = signals.map(s => ({\n  signal_id: s.id,\n  signal_type: s.signal_type,\n  severity: s.severity,\n  title: s.title,\n  summary: s.summary,\n  evidence_urls: s.evidence_urls || []\n}));\n\nconst systemPrompt = `You are a competitive intelligence analyst building actionable battlecards from real signals${isPersonalized ? ` for ${companyName}` : ''}.\n\nYour role: Analyze the signals to produce battlecards that help sales reps WIN competitive deals. Each battlecard should provide:\n- What specifically changed this week (from signals)\n- Counter-positioning talk tracks that reframe the competitor narrative\n- Landmines to avoid that would validate the competitor's claims\n- Themes where we win and themes where we lose\n\nABSOLUTE RULES:\n1. ONLY report changes EXPLICITLY described in the signals provided.\n2. Every talk track and landmine MUST be grounded in signal evidence.\n3. Do NOT fabricate competitor pricing, features, or strategic moves.\n4. Do NOT infer strategic intent beyond what signals explicitly state.\n5. If a competitor has no signals this week, do NOT create a battlecard for them.\n6. Talk tracks should be counter-positioning strategies a seller can use on a call.\n7. Win themes = where our approach is structurally stronger. Lose themes = where competitor has genuine advantage.\n\n${isPersonalized ? `COMPANY: ${companyName}\\nTRACKED COMPETITORS: ${competitorNames.join(', ')}\\nOnly build battlecards for competitors that appear in the signals.` : ''}\n\nOutput STRICT JSON only:\n{\n  \"battlecards\": [\n    {\n      \"competitor_name\": \"string\",\n      \"what_changed_this_week\": [\"string -- one sentence each, factual observations from signals\"],\n      \"talk_tracks\": [\n        {\n          \"title\": \"string -- scenario name, e.g. 'When prospect mentions their AI features'\",\n          \"content\": \"string -- 2-3 sentence talk track the seller should use, grounded in signal evidence\"\n        }\n      ],\n      \"landmines\": [\n        {\n          \"warning\": \"string -- what NOT to say or claim\",\n          \"context\": \"string -- why this would backfire, based on signal evidence\"\n        }\n      ],\n      \"win_themes\": [\"string -- 1 sentence each, where our approach is structurally stronger\"],\n      \"lose_themes\": [\"string -- 1 sentence each, where competitor has genuine advantage we should acknowledge\"]\n    }\n  ]\n}`;\n\nconst userContent = `Week: ${weekStart} to ${weekEnd}\n${isPersonalized ? 'Company: ' + companyName + '\\nTracked Competitors: ' + competitorNames.join(', ') : ''}\n\nBuild competitive battlecards from these signals:\n${JSON.stringify(structuredSignals, null, 2)}\n\nFor each competitor with signals, produce a battlecard with:\n- what_changed_this_week: factual changes from the signals\n- talk_tracks: counter-positioning strategies sellers can use (title + content)\n- landmines: what to avoid saying (warning + context)\n- win_themes: where ${isPersonalized ? companyName : 'we'} structurally win\n- lose_themes: where the competitor has genuine advantage\n\nDo NOT add any competitive claims not supported by the signal data above.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4000,\n  temperature: 0.2,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{\n  json: {\n    builder_type: 'battlecards',\n    week_start: weekStart,\n    week_end: weekEnd,\n    packet_id: packetId,\n    user_id: userCtx.user_id || null,\n    user_company_name: userCtx.company_name || null,\n    is_personalized: isPersonalized || false,\n    input_signal_count: signals.length,\n    input_signal_ids: signals.map(s => s.id),\n    anthropic_body: anthropicBody\n  }\n}];"
        },
        "id": "2a6ba653-8459-4fb0-ab17-6a9e13d977de",
        "name": "Builder: Battlecards",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5258,
          190
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "options": {
            "timeout": 120000
          },
          "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}"
        },
        "id": "5c98ba00-69ac-4e4a-9696-23f2fcc82e43",
        "name": "Anthropic Build Battlecards",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          5508,
          190
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "zg9J7ZGw7o888S6t",
            "name": "Header Auth account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const anthropicResponse = $input.first().json;\nconst builderData = $('Builder: Battlecards').first().json;\n\nconst rawContent = anthropicResponse.content[0].text;\nconst cleaned = rawContent.replace(/^```json?\\s*\\n?/, '').replace(/^```\\s*\\n?/, '').replace(/\\n?```\\s*$/, '').trim();\n\nlet battlecardsData;\ntry {\n  battlecardsData = JSON.parse(cleaned);\n} catch (e) {\n  battlecardsData = { battlecards: [] };\n}\n\nif (!battlecardsData.battlecards || !Array.isArray(battlecardsData.battlecards)) {\n  battlecardsData.battlecards = [];\n}\n\nif (battlecardsData.battlecards.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nconst items = battlecardsData.battlecards.map(card => {\n  const contentJson = {\n    competitor_name: card.competitor_name || 'Unknown',\n    what_changed_this_week: Array.isArray(card.what_changed_this_week) ? card.what_changed_this_week : [],\n    talk_tracks: Array.isArray(card.talk_tracks) ? card.talk_tracks.map(t => ({ title: t.title || t.scenario || '', content: t.content || (t.key_points || []).join(' ') || '' })) : [],\n    landmines: Array.isArray(card.landmines) ? card.landmines.map(l => ({ warning: l.warning || l.claim_to_avoid || '', context: l.context || l.why || '' })) : [],\n    win_themes: Array.isArray(card.win_themes) ? card.win_themes : [],\n    lose_themes: Array.isArray(card.lose_themes) ? card.lose_themes : []\n  };\n  return {\n    json: {\n      competitor_name: contentJson.competitor_name,\n      week_start: builderData.week_start,\n      week_end: builderData.week_end,\n      packet_id: builderData.packet_id,\n      content_json: contentJson,\n      content_md: JSON.stringify(contentJson, null, 2),\n      included_signal_ids: builderData.input_signal_ids || [],\n      user_id: builderData.user_id,\n      user_company_name: builderData.user_company_name,\n      is_personalized: builderData.is_personalized\n    }\n  };\n});\n\nreturn items;"
        },
        "id": "85226905-a2b9-4727-81d8-eba993307070",
        "name": "Parse Battlecards",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          5758,
          190
        ]
      },
      {
        "parameters": {
          "operation": "create",
          "useCustomSchema": true,
          "schema": "gtm_artifacts",
          "tableId": "battlecard_versions",
          "dataToSend": "autoMapInputData",
          "options": {}
        },
        "id": "1f9b4056-7b7b-431f-878a-e7de3fa7ffee",
        "name": "Insert Battlecards",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          6008,
          190
        ],
        "credentials": {
          "supabaseApi": {
            "id": "H8tMhKgDqMwTB6An",
            "name": "Supabase \u2013 Messaging Tracker"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { complete: true } }];"
        },
        "id": "934d16e8-9f6f-47e3-a21c-d65e3665db30",
        "name": "Continue Loop",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          6258,
          190
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ (() => {\n    const auditTrail = $('Parse Packet JSON').first().json.audit_trail || [];\n    const packetId = $json.id;\n    if (auditTrail.length === 0) return 'SELECT 1 as audit_result; -- no claims to audit';\n    \n    const values = auditTrail.map(claim => {\n      const text = claim.claim_text.replace(/'/g, \"''\");\n      const loc = claim.claim_location.replace(/'/g, \"''\");\n      const sids = claim.signal_ids.map(s => \"'\" + s + \"'\").join(',');\n      return \"('\" + packetId + \"', '\" + text + \"', '\" + loc + \"', ARRAY[\" + sids + \"]::uuid[], true)\";\n    }).join(',\\n');\n    \n    return 'INSERT INTO control_plane.packet_claim_sources (packet_id, claim_text, claim_location, signal_ids, verified) VALUES ' + values + ' ON CONFLICT DO NOTHING RETURNING id;';\n  })()\n}}",
          "options": {}
        },
        "id": "7fa88619-f511-447d-997c-5909f4cfb7f9",
        "name": "Insert Audit Trail",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3008,
          190
        ],
        "credentials": {
          "postgres": {
            "id": "NXUM3TVSIAhaVaEL",
            "name": "Supabase Postgres (Shared Pooler)"
          }
        },
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "path": "trigger-packet-gen",
          "httpMethod": "POST",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "webhook-trigger-001",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          500
        ],
        "webhookId": "trigger-packet-gen"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Compute Week Range",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Compute Week Range",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Week Range": {
        "main": [
          [
            {
              "node": "Get Onboarded Users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Onboarded Users": {
        "main": [
          [
            {
              "node": "Prepare User List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare User List": {
        "main": [
          [
            {
              "node": "Loop Through Users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Through Users": {
        "main": [
          [],
          [
            {
              "node": "Load User Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load User Context": {
        "main": [
          [
            {
              "node": "Format User Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format User Context": {
        "main": [
          [
            {
              "node": "Load Signals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Signals": {
        "main": [
          [
            {
              "node": "Score + Select Top Signals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score + Select Top Signals": {
        "main": [
          [
            {
              "node": "Anthropic Synthesize Packet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Synthesize Packet": {
        "main": [
          [
            {
              "node": "Parse Packet JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Packet JSON": {
        "main": [
          [
            {
              "node": "Upsert Packet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Packet": {
        "main": [
          [
            {
              "node": "Insert Audit Trail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Builder: Objection Library": {
        "main": [
          [
            {
              "node": "Anthropic Build Objections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Build Objections": {
        "main": [
          [
            {
              "node": "Parse Objection Library",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Objection Library": {
        "main": [
          [
            {
              "node": "Insert Objection Library",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Objection Library": {
        "main": [
          [
            {
              "node": "Builder: Swipe File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Builder: Swipe File": {
        "main": [
          [
            {
              "node": "Anthropic Build Swipe File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Build Swipe File": {
        "main": [
          [
            {
              "node": "Parse Swipe File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Swipe File": {
        "main": [
          [
            {
              "node": "Insert Swipe File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Swipe File": {
        "main": [
          [
            {
              "node": "Builder: Battlecards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Builder: Battlecards": {
        "main": [
          [
            {
              "node": "Anthropic Build Battlecards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Build Battlecards": {
        "main": [
          [
            {
              "node": "Parse Battlecards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Battlecards": {
        "main": [
          [
            {
              "node": "Insert Battlecards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Battlecards": {
        "main": [
          [
            {
              "node": "Continue Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Continue Loop": {
        "main": [
          [
            {
              "node": "Loop Through Users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Audit Trail": {
        "main": [
          [
            {
              "node": "Builder: Objection Library",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Compute Week Range",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Victor Ugochukwu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-15T16:13:16.922Z",
        "id": 406,
        "workflowId": "gpQ8PuG1Cxd_w41UB8rk9",
        "versionId": "4c2b7891-47ca-47d9-ba49-76de9ac5427c",
        "event": "activated",
        "userId": "bdf916fd-a8be-4335-9337-00ce60da9712"
      }
    ]
  }
}