n8n_workflows/control_plane_v2_weekly_packet_company_aware.json
{
  "name": "ControlPlane_v2_WeeklyPacket_CompanyAware [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "758582c6-8e9d-4ae6-a525-2b4541604a91",
      "name": "Cron Weekly (Mon 07:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {},
      "id": "2a2fae88-417e-4099-b688-564b0f91cfc6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Compute week range: previous Monday 00:00 UTC to Sunday 23:59:59 UTC\nconst now = new Date();\nconst day = now.getUTCDay();\n\nconst thisMonday = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate()));\nconst diff = day === 0 ? 6 : day - 1;\nthisMonday.setUTCDate(thisMonday.getUTCDate() - diff);\n\nconst prevMonday = new Date(thisMonday);\nprevMonday.setUTCDate(prevMonday.getUTCDate() - 7);\n\nconst prevSunday = new Date(prevMonday);\nprevSunday.setUTCDate(prevSunday.getUTCDate() + 6);\n\nconst weekStart = prevMonday.toISOString().slice(0, 10);\nconst weekEnd = prevSunday.toISOString().slice(0, 10);\n\nreturn [{ json: { week_start: weekStart, week_end: weekEnd } }];"
      },
      "id": "cd1b5c89-e05b-4d9b-8a42-5997bb02e4a1",
      "name": "Compute Week Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get all users who completed onboarding\nSELECT DISTINCT user_id\nFROM public.user_company_profiles\nWHERE onboarding_completed_at IS NOT NULL;",
        "options": {}
      },
      "id": "d0a04a13-8644-4186-9143-07d30c0bf6e1",
      "name": "Get Onboarded Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        512,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare user list for iteration\n// Add a 'null' user for generic packet generation\nconst users = $input.all().map(item => item.json);\nconst weekRange = $('Compute Week Range').first().json;\n\n// First item: null user_id for generic packet\nconst userList = [\n  { user_id: \"00000000-0000-0000-0000-000000000000\", is_generic: true },\n  ...users.map(u => ({ user_id: u.user_id, is_generic: false }))\n];\n\nreturn userList.map(u => ({ json: { ...u, ...weekRange } }));"
      },
      "id": "e006db4d-a019-401f-ba97-ae56da3557ad",
      "name": "Prepare User List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        112
      ]
    },
    {
      "parameters": {
        "options": {},
        "batchSize": 1
      },
      "id": "d4779721-b713-4843-9ecb-4ed7e6b1545b",
      "name": "Loop Through Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM public.get_user_context('{{ $json.user_id }}')",
        "options": {}
      },
      "id": "4818c713-fe76-40b7-9bfc-8ad6b3b8fe5a",
      "name": "Load User Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1264,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format user context for downstream nodes\nconst input = $input.first().json;\nconst loopData = $('Loop Through Users').first().json;\n\n// If user_id is null (generic mode), return empty context\nif (!loopData.user_id) {\n  return [{ json: {\n    user_id: null,\n    company_name: null,\n    company_domain: null,\n    competitor_ids: [],\n    competitor_names: [],\n    competitor_domains: [],\n    is_personalized: false,\n    week_start: loopData.week_start,\n    week_end: loopData.week_end\n  }}];\n}\n\nreturn [{ json: {\n  user_id: loopData.user_id,\n  company_name: input.company_name || null,\n  company_domain: input.company_domain || null,\n  competitor_ids: input.competitor_ids || [],\n  competitor_names: input.competitor_names || [],\n  competitor_domains: input.competitor_domains || [],\n  is_personalized: !!(input.company_name),\n  week_start: loopData.week_start,\n  week_end: loopData.week_end\n}}];"
      },
      "id": "faa5ba68-a977-46a4-b42c-f276596595a7",
      "name": "Format User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  id,\n  company_id,\n  signal_type,\n  severity,\n  confidence,\n  title,\n  summary,\n  evidence_urls,\n  source_schema,\n  source_table,\n  source_id,\n  meta,\n  created_at\nFROM control_plane.signals\nWHERE created_at >= '{{ $json.week_start }}'::date\n  AND created_at < '{{ $json.week_end }}'::date + interval '1 day'\nORDER BY signal_type, severity DESC, created_at DESC;",
        "options": {}
      },
      "id": "67010e41-daa3-49eb-a054-aa7f643bd9bf",
      "name": "Load Signals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1760,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Score + Select Top Signals v5 (Company-Aware)\n// Filters signals by user's tracked competitors when userContext is provided\n\nconst signals = $input.all().map(item => item.json);\nconst userContext = $('Format User Context').first().json;\nconst weekRange = { week_start: userContext.week_start, week_end: userContext.week_end };\n\n// Configuration\nconst SHIP_CAPS = {\n  messaging: 8, narrative: 5, icp: 5, horizon: 3, objection: 5,\n  pricing: 4, proof: 3, distribution: 3, hiring: 2, launch_decay: 2, experiment: 5\n};\nconst MAX_TOTAL = 45;\nconst WEIGHTS = { severity: 8, recency: 30, confidence: 15, source_quality: 15 };\n\n// Filter signals by user's competitors\nfunction filterByUserCompetitors(allSignals, ctx) {\n  if (!ctx || !ctx.competitor_ids || ctx.competitor_ids.length === 0) {\n    return allSignals;\n  }\n  const competitorIds = new Set(ctx.competitor_ids);\n  const competitorDomains = new Set((ctx.competitor_domains || []).map(d => d?.toLowerCase()));\n  const competitorNames = new Set((ctx.competitor_names || []).map(n => n?.toLowerCase()));\n\n  return allSignals.filter(signal => {\n    if (signal.company_id && competitorIds.has(signal.company_id)) return true;\n    const evidenceUrls = signal.evidence_urls || [];\n    for (const url of evidenceUrls) {\n      const urlLower = (url || '').toLowerCase();\n      for (const domain of competitorDomains) {\n        if (domain && urlLower.includes(domain)) return true;\n      }\n    }\n    const titleLower = (signal.title || '').toLowerCase();\n    const summaryLower = (signal.summary || '').toLowerCase();\n    for (const name of competitorNames) {\n      if (name && (titleLower.includes(name) || summaryLower.includes(name))) return true;\n    }\n    return false;\n  });\n}\n\nconst filteredSignals = filterByUserCompetitors(signals, userContext);\n\nfunction computeScore(signal) {\n  const now = new Date();\n  const createdAt = new Date(signal.created_at);\n  const daysOld = (now - createdAt) / (1000 * 60 * 60 * 24);\n  const severityScore = (signal.severity || 3) * WEIGHTS.severity;\n  const recencyScore = Math.max(0, WEIGHTS.recency - (daysOld * 4.3));\n  const confidenceScore = (parseFloat(signal.confidence) || 0.5) * WEIGHTS.confidence;\n  const sourceQuality = signal.source_quality || 'medium';\n  const sourceScore = sourceQuality === 'high' ? 15 : sourceQuality === 'medium' ? 10 : 5;\n  return Math.round((severityScore + recencyScore + confidenceScore + sourceScore) * 100) / 100;\n}\n\nconst enrichedSignals = filteredSignals.map(signal => {\n  const score = computeScore(signal);\n  return {\n    ...signal,\n    score: score,\n    summary_short: signal.summary ? signal.summary.substring(0, 100) + (signal.summary.length > 100 ? '...' : '') : ''\n  };\n});\n\nconst sections = ['messaging', 'narrative', 'icp', 'horizon', 'objection', 'pricing', 'proof', 'distribution', 'hiring', 'launch_decay', 'experiment'];\nconst selectedBySection = {};\nlet totalSelected = [];\n\nfor (const section of sections) {\n  const cap = SHIP_CAPS[section] || 6;\n  const sectionSignals = enrichedSignals.filter(s => s.signal_type === section).sort((a, b) => b.score - a.score).slice(0, cap);\n  selectedBySection[section] = sectionSignals;\n  totalSelected = totalSelected.concat(sectionSignals);\n}\n\nif (totalSelected.length > MAX_TOTAL) {\n  totalSelected.sort((a, b) => b.score - a.score);\n  totalSelected = totalSelected.slice(0, MAX_TOTAL);\n}\n\nconst signalSummaries = {};\nfor (const section of sections) {\n  signalSummaries[section] = (selectedBySection[section] || []).map(s => ({\n    id: s.id, severity: s.severity, title: s.title, summary_short: s.summary_short, score: s.score\n  }));\n}\n\nconst isPersonalized = userContext.is_personalized;\nconst companyName = userContext.company_name || 'your company';\nconst competitorsList = userContext.competitor_names?.join(', ') || 'competitors';\n\nconst systemPrompt = `You are a GTM intelligence analyst creating weekly packets for ${isPersonalized ? companyName + \"'s\" : 'a'} PMM team.\\n${isPersonalized ? `COMPANY: ${companyName}\\nTRACKED COMPETITORS: ${competitorsList}\\nFrame insights as \"${companyName} vs [Competitor]\" where relevant.` : ''}\\nOutput STRICT JSON only.\\nSchema: { \"packet_title\": \"string\", \"exec_summary\": [\"max 7 bullets\"], \"sections\": { \"messaging\": {\"summary\":\"str\",\"highlights\":[],\"action_items\":[]}, \"narrative\":{...}, \"icp\":{...}, \"horizon\":{...}, \"objection\":{...} }, \"key_questions\": [\"3-5 items\"], \"bets\": [{\"hypothesis\":\"str\",\"signal_ids\":[],\"confidence\":\"low|medium|high\"}] }`;\n\nconst userContent = `Week: ${weekRange.week_start} to ${weekRange.week_end}\\n${isPersonalized ? `Company: ${companyName}` : ''}\\nTotal signals: ${signals.length}, Filtered: ${filteredSignals.length}, Selected: ${totalSelected.length}\\n\\nMESSAGING: ${JSON.stringify(signalSummaries.messaging)}\\nNARRATIVE: ${JSON.stringify(signalSummaries.narrative)}\\nICP: ${JSON.stringify(signalSummaries.icp)}\\nHORIZON: ${JSON.stringify(signalSummaries.horizon)}\\nOBJECTION: ${JSON.stringify(signalSummaries.objection)}\\n\\nGenerate weekly GTM intelligence packet.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 3000,\n  temperature: 0.3,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{ json: {\n  week_start: weekRange.week_start,\n  week_end: weekRange.week_end,\n  user_id: userContext.user_id,\n  user_company_name: userContext.company_name,\n  is_personalized: isPersonalized,\n  total_signals: signals.length,\n  filtered_signals: filteredSignals.length,\n  selected_count: totalSelected.length,\n  selected_signals: totalSelected,\n  signal_summaries: signalSummaries,\n  anthropic_body: anthropicBody\n}}];"
      },
      "id": "9edb6311-803f-4fe8-b463-8180a7e91a3d",
      "name": "Score + Select Top Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {}
      },
      "id": "dad51256-d4c8-4cb3-ba26-e6639222178e",
      "name": "Anthropic Synthesize Packet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2256,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "tiqqmgq14G2sygfA",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Anthropic response and extract packet JSON\nconst resp = $input.first().json;\nconst selectData = $('Score + Select Top Signals').first().json;\n\nlet packetData;\ntry {\n  const content = resp.content?.[0]?.text || '{}';\n  packetData = JSON.parse(content);\n} catch (e) {\n  packetData = {\n    packet_title: `Week of ${selectData.week_start}: Intelligence Packet`,\n    exec_summary: ['Signal synthesis failed - manual review required'],\n    sections: {\n      messaging: { summary: 'Parsing error', highlights: [], action_items: [] },\n      narrative: { summary: 'Parsing error', highlights: [], action_items: [] },\n      icp: { summary: 'Parsing error', highlights: [], action_items: [] },\n      horizon: { summary: 'Parsing error', highlights: [], action_items: [] },\n      objection: { summary: 'Parsing error', highlights: [], action_items: [] }\n    },\n    key_questions: ['Review raw signals for this week'],\n    bets: []\n  };\n}\n\nreturn [{ json: {\n  ...selectData,\n  packet: packetData\n}}];"
      },
      "id": "30424b61-6331-4bdd-a376-f4a9e3628231",
      "name": "Parse Packet JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO control_plane.packets (\n  week_start, week_end, packet_title, exec_summary, sections, key_questions, bets,\n  user_id, user_company_name, is_personalized\n)\nVALUES (\n  '{{ $json.week_start }}'::date,\n  '{{ $json.week_end }}'::date,\n  '{{ $json.packet.packet_title.replace(/'/g, \"''\") }}',\n  ARRAY[{{ $json.packet.exec_summary.map(s => \"'\" + s.replace(/'/g, \"''\") + \"'\").join(',') }}],\n  '{{ JSON.stringify($json.packet.sections).replace(/'/g, \"''\") }}'::jsonb,\n  ARRAY[{{ $json.packet.key_questions.map(q => \"'\" + q.replace(/'/g, \"''\") + \"'\").join(',') }}],\n  '{{ JSON.stringify($json.packet.bets || []).replace(/'/g, \"''\") }}'::jsonb,\n  {{ $json.user_id ? \"'\" + $json.user_id + \"'\" : 'NULL' }},\n  {{ $json.user_company_name ? \"'\" + $json.user_company_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.is_personalized || false }}\n)\nON CONFLICT (COALESCE(user_id, '00000000-0000-0000-0000-000000000000'::uuid), week_start, week_end) \nDO UPDATE SET \n  packet_title = EXCLUDED.packet_title,\n  exec_summary = EXCLUDED.exec_summary,\n  sections = EXCLUDED.sections,\n  key_questions = EXCLUDED.key_questions,\n  bets = EXCLUDED.bets,\n  user_company_name = EXCLUDED.user_company_name,\n  is_personalized = EXCLUDED.is_personalized\nRETURNING id;",
        "options": {}
      },
      "id": "78f6e86e-c3fa-455b-b130-af4792552927",
      "name": "Upsert Packet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2752,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Continue to next user in loop\nreturn [{ json: { complete: true } }];"
      },
      "id": "e8a13222-a0f8-4863-a2f6-dd36e919a12f",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        112
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Compute Week Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Weekly (Mon 07:00)": {
      "main": [
        [
          {
            "node": "Compute Week Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Week Range": {
      "main": [
        [
          {
            "node": "Get Onboarded Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Onboarded Users": {
      "main": [
        [
          {
            "node": "Prepare User List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User List": {
      "main": [
        [
          {
            "node": "Loop Through Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Users": {
      "main": [
        [
          {
            "node": "Load User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Context": {
      "main": [
        [
          {
            "node": "Format User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format User Context": {
      "main": [
        [
          {
            "node": "Load Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Signals": {
      "main": [
        [
          {
            "node": "Score + Select Top Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score + Select Top Signals": {
      "main": [
        [
          {
            "node": "Anthropic Synthesize Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Synthesize Packet": {
      "main": [
        [
          {
            "node": "Parse Packet JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Packet JSON": {
      "main": [
        [
          {
            "node": "Upsert Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Packet": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          {
            "node": "Loop Through Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v0",
    "availableInMCP": false
  },
  "staticData": null,
  "tags": [
    {
      "name": "PMM Signal"
    },
    {
      "name": "Core [Control Plane]"
    }
  ],
  "pinData": {}
}