n8n_workflows/enablement_slack_delivery.json
{
  "name": "Enablement Slack Artifact Delivery [cloud]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enablement-deliver",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "enb-wh-01",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ],
      "webhookId": "enablement-deliver"
    },
    {
      "parameters": {
        "jsCode": "// Validate incoming payload\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['user_id', 'artifact_type', 'channel'];\nfor (const field of required) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Normalize\nreturn [{\n  json: {\n    user_id: body.user_id,\n    artifact_type: body.artifact_type,\n    artifact_id: body.artifact_id || null,\n    competitor_name: body.competitor_name || null,\n    channel: body.channel,\n    recipient_team: body.recipient_team || null,\n    recipient_ids: body.recipient_ids || null,\n    deal_id: body.deal_id || null,\n    content_md: body.content_md || '',\n    content_title: body.content_title || `${body.artifact_type} update`,\n    metadata: body.metadata || {}\n  }\n}];"
      },
      "id": "enb-code-01",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "channel-slack",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "slack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "enb-if-01",
      "name": "Is Slack Channel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dp.slack_channel_id, dp.incoming_webhook_url FROM public.delivery_preferences dp WHERE dp.user_id = '{{ $json.user_id }}'::uuid AND dp.channel = 'slack' AND dp.is_active = true LIMIT 1;",
        "options": {}
      },
      "id": "enb-pg-01",
      "name": "Get Slack Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-webhook",
              "leftValue": "={{ $json.incoming_webhook_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "enb-if-02",
      "name": "Has Webhook URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Validate & Normalize').first().json;\nconst webhookUrl = $('Get Slack Config').first().json.incoming_webhook_url;\n\n// Build Slack Block Kit message\nconst artifactLabels = {\n  battlecard: ':shield: Battlecard',\n  objection_library: ':speech_balloon: Objection Library',\n  swipe_file: ':page_facing_up: Swipe File',\n  maturity_model: ':bar_chart: Maturity Model',\n  deal_brief: ':briefcase: Deal Brief',\n  scorecard: ':chart_with_upwards_trend: Scorecard'\n};\n\nconst label = artifactLabels[data.artifact_type] || data.artifact_type;\nconst title = data.content_title;\nconst competitor = data.competitor_name ? ` \u2014 ${data.competitor_name}` : '';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `${title}${competitor}`, emoji: true }\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Type:* ${label}\\n*Delivered:* ${new Date().toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric' })}` }\n  }\n];\n\n// Add content preview if available (truncated)\nif (data.content_md) {\n  const preview = data.content_md.length > 500 \n    ? data.content_md.substring(0, 500) + '\u2026'\n    : data.content_md;\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: preview }\n  });\n}\n\n// Add feedback CTA\nblocks.push(\n  { type: 'divider' },\n  {\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: ':star: _Rate this artifact in Signal Plane to help improve future content_' }]\n  }\n);\n\nreturn [{\n  json: {\n    webhook_url: webhookUrl,\n    payload: { blocks, text: `New ${label} delivered${competitor}` }\n  }\n}];"
      },
      "id": "enb-code-02",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "enb-http-01",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_enablement_delivery('{{ $('Validate & Normalize').first().json.user_id }}'::uuid, '{{ $('Validate & Normalize').first().json.artifact_type }}', {{ $('Validate & Normalize').first().json.artifact_id ? \"'\" + $('Validate & Normalize').first().json.artifact_id + \"'::uuid\" : 'NULL' }}, {{ $('Validate & Normalize').first().json.competitor_name ? \"'\" + $('Validate & Normalize').first().json.competitor_name + \"'\" : 'NULL' }}, '{{ $('Validate & Normalize').first().json.channel }}', {{ $('Validate & Normalize').first().json.recipient_team ? \"'\" + $('Validate & Normalize').first().json.recipient_team + \"'\" : 'NULL' }}, {{ $('Validate & Normalize').first().json.recipient_ids ? \"ARRAY[\" + $('Validate & Normalize').first().json.recipient_ids.map(id => \"'\" + id + \"'::uuid\").join(',') + \"]\" : 'NULL' }}, {{ $('Validate & Normalize').first().json.deal_id ? \"'\" + $('Validate & Normalize').first().json.deal_id + \"'::uuid\" : 'NULL' }}, '{{ JSON.stringify($('Validate & Normalize').first().json.metadata) }}'::jsonb);",
        "options": {}
      },
      "id": "enb-pg-02",
      "name": "Log Delivery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: $('Validate & Normalize').first().json.channel, artifact_type: $('Validate & Normalize').first().json.artifact_type }) }}"
      },
      "id": "enb-resp-01",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'No Slack webhook configured. Please connect Slack in Settings > Integrations.' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "enb-resp-02",
      "name": "No Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, channel: $('Validate & Normalize').first().json.channel, note: 'Email delivery not yet implemented' }) }}"
      },
      "id": "enb-resp-03",
      "name": "Non-Slack Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Is Slack Channel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Slack Channel?": {
      "main": [
        [
          {
            "node": "Get Slack Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non-Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Slack Config": {
      "main": [
        [
          {
            "node": "Has Webhook URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Webhook URL?": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message": {
      "main": [
        [
          {
            "node": "Log Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Delivery": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8o8quTMqNasL5GoW"
  }
}