n8n_workflows/experiment_surveillance_weekly.json
{
  "name": "Experiment Surveillance Weekly [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 1"
            }
          ]
        }
      },
      "id": "59db8513-ca9a-405a-be7d-6ccd84ce1311",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2000,
        112
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Detect patterns from recent ship changes (last 7 days)\n-- Pricing changes\nSELECT \n  experiment_surveillance.detect_pattern(\n    'pricing_tracker',\n    'pricing_changes',\n    pc.id,\n    pc.company_id,\n    'pricing',\n    pc.change_type,\n    pc.change_details\n  ) AS pattern_id,\n  'pricing' AS source\nFROM pricing_tracker.pricing_changes pc\nWHERE pc.detected_at >= CURRENT_DATE - INTERVAL '7 days'\n  AND pc.significance = 'major'\n\nUNION ALL\n\n-- Proof changes\nSELECT \n  experiment_surveillance.detect_pattern(\n    'proof_tracker',\n    'proof_changes',\n    pc.id,\n    pc.company_id,\n    pc.page_type,\n    pc.change_type,\n    pc.change_details\n  ) AS pattern_id,\n  'proof' AS source\nFROM proof_tracker.proof_changes pc\nWHERE pc.detected_at >= CURRENT_DATE - INTERVAL '7 days'\n  AND pc.significance = 'major'\n\nUNION ALL\n\n-- Distribution changes\nSELECT \n  experiment_surveillance.detect_pattern(\n    'distribution_tracker',\n    'distribution_changes',\n    dc.id,\n    dc.company_id,\n    'integrations',\n    dc.change_type,\n    dc.change_details\n  ) AS pattern_id,\n  'distribution' AS source\nFROM distribution_tracker.distribution_changes dc\nWHERE dc.detected_at >= CURRENT_DATE - INTERVAL '7 days'\n  AND dc.significance = 'major';",
        "options": {}
      },
      "id": "d6d9b0f9-31f1-4346-9dfb-50f2b6cbdb8d",
      "name": "Detect Patterns from Ships",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1792,
        144
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update survival tracking for all active patterns\nSELECT experiment_surveillance.update_survival_tracking();",
        "options": {}
      },
      "id": "270e1a96-97f9-463a-ad58-a3fd103e81fa",
      "name": "Update Survival Tracking",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1600,
        112
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update pattern scores\nSELECT experiment_surveillance.update_pattern_scores();",
        "options": {}
      },
      "id": "d7090264-e67e-4182-a7e5-2344eabd37cb",
      "name": "Update Pattern Scores",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1408,
        112
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get patterns that need evaluation\nSELECT \n  id,\n  pattern_key,\n  pattern_label,\n  pattern_category,\n  status,\n  survivorship_score,\n  propagation_score,\n  combined_score,\n  first_seen,\n  last_seen\nFROM experiment_surveillance.patterns\nWHERE status IN ('candidate', 'emerging')\n  AND updated_at >= CURRENT_DATE - INTERVAL '7 days'\nORDER BY combined_score DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "28ddb2ea-71a7-408e-b863-e143038ad9e4",
      "name": "Get Candidate Patterns",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1200,
        112
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_patterns",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aed3add4-2bbd-44a5-9453-2fa8a00392b1",
      "name": "Has Patterns?",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1008,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Build Anthropic prompt for pattern evaluation\nconst patterns = $input.all().map(item => item.json);\n\nif (patterns.length === 0) {\n  return [{ json: { skip: true, reason: 'No patterns to evaluate' } }];\n}\n\nconst systemPrompt = `You are a GTM pattern analyst. Evaluate experiment patterns and determine which are likely to become market winners.\n\nFor each pattern, assess:\n1. Is this a meaningful GTM experiment or noise?\n2. What is the strategic intent behind this pattern?\n3. Should PMMs consider adopting this pattern?\n\nRespond with JSON array:\n[\n  {\n    \"pattern_id\": \"uuid\",\n    \"is_meaningful\": true/false,\n    \"strategic_intent\": \"string (1-2 sentences)\",\n    \"recommendation\": \"adopt|monitor|ignore\",\n    \"reasoning\": \"string (1-2 sentences)\"\n  }\n]`;\n\nconst userContent = `Evaluate these experiment patterns:\n\n${JSON.stringify(patterns, null, 2)}\n\nRespond with JSON only.`;\n\nconst anthropicBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2000,\n  temperature: 0.2,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{\n  json: {\n    skip: false,\n    patterns_count: patterns.length,\n    patterns: patterns,\n    anthropic_body: anthropicBody\n  }\n}];"
      },
      "id": "5b12980f-4276-4bc5-81e7-5229c6628b04",
      "name": "Build Evaluation Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        -800,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should_evaluate",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93dac71d-5cd3-4a2f-9a74-57e85ac0bb15",
      "name": "Should Evaluate?",
      "type": "n8n-nodes-base.filter",
      "position": [
        -608,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "4cfb9f69-e34b-412d-a578-043c36332a20",
      "name": "Evaluate Patterns (Anthropic)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -400,
        112
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "tiqqmgq14G2sygfA",
          "name": "Anthropic API Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// Parse Anthropic response\nconst response = $input.first().json;\nconst content = response.content?.[0]?.text || '{}';\n\nlet evaluations = [];\ntry {\n  evaluations = JSON.parse(content);\n} catch (e) {\n  // Try to extract JSON from response\n  const jsonMatch = content.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    evaluations = JSON.parse(jsonMatch[0]);\n  }\n}\n\nreturn evaluations.map(e => ({ json: e }));"
      },
      "id": "22a499e3-c674-49bf-b59d-05bd08c0bc75",
      "name": "Parse Evaluations",
      "type": "n8n-nodes-base.code",
      "position": [
        -208,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Emit proven pattern signals\nSELECT experiment_surveillance.emit_proven_patterns() AS proven_count;",
        "options": {}
      },
      "id": "fcd486ee-1cff-4aba-8086-794a2ec90ca8",
      "name": "Emit Proven Signals",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Emit emerging pattern signals\nSELECT experiment_surveillance.emit_emerging_patterns() AS emerging_count;",
        "options": {}
      },
      "id": "2a4a98ac-b6b7-42e3-b91f-df7d293f8c6c",
      "name": "Emit Emerging Signals",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        208
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get summary stats\nSELECT \n  (SELECT COUNT(*) FROM experiment_surveillance.patterns) AS total_patterns,\n  (SELECT COUNT(*) FROM experiment_surveillance.patterns WHERE status = 'proven') AS proven_patterns,\n  (SELECT COUNT(*) FROM experiment_surveillance.patterns WHERE status = 'emerging') AS emerging_patterns,\n  (SELECT COUNT(*) FROM experiment_surveillance.pattern_instances WHERE observed_at >= CURRENT_DATE - INTERVAL '7 days') AS instances_this_week,\n  (SELECT COUNT(*) FROM experiment_surveillance.signal_emissions WHERE week_start = date_trunc('week', CURRENT_DATE)::DATE) AS signals_emitted;",
        "options": {}
      },
      "id": "91468eef-9ec8-484c-b3c8-d1c1f616a161",
      "name": "Get Summary Stats",
      "type": "n8n-nodes-base.postgres",
      "position": [
        208,
        112
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "// Build run summary\nconst stats = $('Get Summary Stats').first().json;\nconst provenCount = $('Emit Proven Signals').first().json.proven_count || 0;\nconst emergingCount = $('Emit Emerging Signals').first().json.emerging_count || 0;\n\nreturn [{\n  json: {\n    run_completed_at: new Date().toISOString(),\n    total_patterns: stats.total_patterns,\n    proven_patterns: stats.proven_patterns,\n    emerging_patterns: stats.emerging_patterns,\n    instances_this_week: stats.instances_this_week,\n    proven_signals_emitted: provenCount,\n    emerging_signals_emitted: emergingCount,\n    total_signals_emitted: provenCount + emergingCount\n  }\n}];"
      },
      "id": "a1fbf343-4967-4766-ab2d-c5586d537ff1",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        400,
        112
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Detect Patterns from Ships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Patterns from Ships": {
      "main": [
        [
          {
            "node": "Update Survival Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Survival Tracking": {
      "main": [
        [
          {
            "node": "Update Pattern Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pattern Scores": {
      "main": [
        [
          {
            "node": "Get Candidate Patterns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate Patterns": {
      "main": [
        [
          {
            "node": "Has Patterns?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Patterns?": {
      "main": [
        [
          {
            "node": "Build Evaluation Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Evaluation Prompt": {
      "main": [
        [
          {
            "node": "Should Evaluate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Evaluate?": {
      "main": [
        [
          {
            "node": "Evaluate Patterns (Anthropic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Patterns (Anthropic)": {
      "main": [
        [
          {
            "node": "Parse Evaluations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluations": {
      "main": [
        [
          {
            "node": "Emit Proven Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Emit Emerging Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Proven Signals": {
      "main": [
        [
          {
            "node": "Get Summary Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Emerging Signals": {
      "main": [
        [
          {
            "node": "Get Summary Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary Stats": {
      "main": [
        [
          {
            "node": "Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v0",
    "availableInMCP": false,
    "errorWorkflow": "8o8quTMqNasL5GoW"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PMM Signal"
    },
    {
      "name": "Core [Control Plane]"
    }
  ],
  "pinData": {}
}