n8n_workflows/launch_decay_tracker_weekly.json
{
  "name": "Launch Decay Tracker Weekly [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "6bb5ffd1-29dc-40ff-a239-6767d9276b48",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Load active launches needing observation\nSELECT\n  l.id AS launch_id,\n  l.company_id,\n  l.launch_date,\n  l.launch_type,\n  l.launch_name,\n  l.initial_momentum_score,\n  l.current_momentum_score,\n  l.status,\n  (CURRENT_DATE - l.launch_date) / 7 AS current_weeks\nFROM launch_tracker.launches l\nWHERE l.status = 'tracking'\nORDER BY l.launch_date DESC;",
        "options": {}
      },
      "id": "f5f4c8a2-0355-47df-8e4a-1085244db9be",
      "name": "Load Active Launches",
      "type": "n8n-nodes-base.postgres",
      "position": [
        208,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_launches",
              "leftValue": "={{ $json.launch_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64f82e1e-ad24-4be7-8269-39d219e63a01",
      "name": "Has Launches?",
      "type": "n8n-nodes-base.filter",
      "position": [
        400,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get current homepage snapshot for comparison\nSELECT \n  ps.id AS snapshot_id,\n  ps.content_hash,\n  pf.h1_text,\n  pf.cta_labels\nFROM public.page_snapshots ps\nLEFT JOIN public.page_features pf ON pf.snapshot_id = ps.id\nJOIN public.tracked_pages tp ON tp.id = ps.tracked_page_id\nWHERE tp.company_id = '{{ $json.company_id }}'::UUID\n  AND (tp.page_type = 'homepage' OR tp.url NOT LIKE '%/%/%')\nORDER BY ps.created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "156d0c10-be20-429f-968a-42c8d553276c",
      "name": "Get Current Homepage",
      "type": "n8n-nodes-base.postgres",
      "position": [
        608,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Count homepage changes since launch\nSELECT COUNT(*) AS homepage_change_count\nFROM public.page_diffs pd\nJOIN public.page_snapshots ps ON ps.id = pd.new_snapshot_id\nJOIN public.tracked_pages tp ON tp.id = ps.tracked_page_id\nWHERE tp.company_id = '{{ $('Load Active Launches').item.json.company_id }}'::UUID\n  AND (tp.page_type = 'homepage' OR tp.url NOT LIKE '%/%/%')\n  AND pd.created_at >= '{{ $('Load Active Launches').item.json.launch_date }}'::DATE;",
        "options": {}
      },
      "id": "f7819b59-d041-4530-85b8-137969ac308a",
      "name": "Count Homepage Changes",
      "type": "n8n-nodes-base.postgres",
      "position": [
        800,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Count pricing changes since launch\nSELECT COUNT(*) AS pricing_change_count\nFROM pricing_tracker.pricing_changes pc\nWHERE pc.company_id = '{{ $('Load Active Launches').item.json.company_id }}'::UUID\n  AND pc.detected_at >= '{{ $('Load Active Launches').item.json.launch_date }}'::DATE;",
        "options": {}
      },
      "id": "870839e1-6f77-4b94-b155-24b459ef78aa",
      "name": "Count Pricing Changes",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1008,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "// Calculate messaging drift score\n// Compares current state to initial_messaging captured at launch\n\nconst launchData = $('Load Active Launches').item.json;\nconst currentHomepage = $('Get Current Homepage').item.json;\nconst homepageChanges = $('Count Homepage Changes').item.json;\nconst pricingChanges = $('Count Pricing Changes').item.json;\n\nconst initial = launchData.initial_messaging || {};\nconst current = currentHomepage || {};\n\n// Simple drift calculation based on content hash and structural changes\nlet driftScore = 0;\n\n// Check if content hash changed\nif (initial.content_hash && current.content_hash && initial.content_hash !== current.content_hash) {\n  driftScore += 0.3;\n}\n\n// Check if H1 changed significantly\nif (initial.h1_text && current.h1_text) {\n  const similarity = calculateSimilarity(initial.h1_text, current.h1_text);\n  driftScore += (1 - similarity) * 0.3;\n} else if (initial.h1_text !== current.h1_text) {\n  driftScore += 0.2;\n}\n\n// Factor in number of changes\nconst changeCount = parseInt(homepageChanges.homepage_change_count) || 0;\nif (changeCount >= 5) driftScore += 0.3;\nelse if (changeCount >= 3) driftScore += 0.2;\nelse if (changeCount >= 1) driftScore += 0.1;\n\n// Normalize to 0-1\ndriftScore = Math.min(1, Math.max(0, driftScore));\n\nfunction calculateSimilarity(str1, str2) {\n  const words1 = str1.toLowerCase().split(/\\s+/);\n  const words2 = str2.toLowerCase().split(/\\s+/);\n  const set1 = new Set(words1);\n  const set2 = new Set(words2);\n  const intersection = [...set1].filter(x => set2.has(x)).length;\n  const union = new Set([...set1, ...set2]).size;\n  return intersection / union;\n}\n\nreturn [{\n  json: {\n    launch_id: launchData.launch_id,\n    company_id: launchData.company_id,\n    launch_title: launchData.launch_title,\n    weeks_since_launch: Math.floor(launchData.current_weeks),\n    messaging_drift_score: Math.round(driftScore * 100) / 100,\n    homepage_change_count: parseInt(homepageChanges.homepage_change_count) || 0,\n    pricing_change_count: parseInt(pricingChanges.pricing_change_count) || 0\n  }\n}];"
      },
      "id": "e7390e11-1edd-4b42-bd05-15c41c03e3e8",
      "name": "Calculate Drift Score",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT launch_tracker.record_observation(\n  '{{ $json.launch_id }}'::UUID,\n  {{ $json.messaging_drift_score }},\n  {{ $json.homepage_change_count }},\n  {{ $json.pricing_change_count }}\n) AS observation_id;",
        "options": {}
      },
      "id": "e04b6610-99e8-4334-9c22-aef5e3998aaf",
      "name": "Record Observation",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1408,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get observation details to check if signal should be emitted\nSELECT \n  do.id,\n  do.decay_signal,\n  do.signal_emitted\nFROM launch_tracker.decay_observations do\nWHERE do.id = '{{ $json.observation_id }}'::UUID;",
        "options": {}
      },
      "id": "af661698-b80d-4eb4-9b88-349ed47f326c",
      "name": "Get Observation",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1600,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should_emit",
              "leftValue": "={{ $json.decay_signal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "regex",
                "value": "^(decay|reframe|abandoned)$"
              }
            },
            {
              "id": "not_emitted",
              "leftValue": "={{ $json.signal_emitted }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8e3c6cc-2051-4e8a-b453-6a6c54720507",
      "name": "Should Emit Signal?",
      "type": "n8n-nodes-base.filter",
      "position": [
        1808,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT launch_tracker.emit_signal('{{ $json.id }}'::UUID) AS signal_id;",
        "options": {}
      },
      "id": "2deca4d9-8fb8-44f0-a8a4-b82bf1d5a43a",
      "name": "Emit Signal",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2000,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "// Summary node\nconst allItems = $('Record Observation').all();\nconst emittedItems = $('Emit Signal').all();\n\nreturn [{\n  json: {\n    run_completed_at: new Date().toISOString(),\n    launches_observed: allItems.length,\n    signals_emitted: emittedItems.length,\n    signal_ids: emittedItems.map(i => i.json.signal_id).filter(Boolean)\n  }\n}];"
      },
      "id": "e958d6af-6a1c-41bb-9a80-a3edc4aa8161",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        2208,
        0
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Load Active Launches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Launches": {
      "main": [
        [
          {
            "node": "Has Launches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Launches?": {
      "main": [
        [
          {
            "node": "Get Current Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Homepage": {
      "main": [
        [
          {
            "node": "Count Homepage Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Homepage Changes": {
      "main": [
        [
          {
            "node": "Count Pricing Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Pricing Changes": {
      "main": [
        [
          {
            "node": "Calculate Drift Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Drift Score": {
      "main": [
        [
          {
            "node": "Record Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Observation": {
      "main": [
        [
          {
            "node": "Get Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Observation": {
      "main": [
        [
          {
            "node": "Should Emit Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Emit Signal?": {
      "main": [
        [
          {
            "node": "Emit Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Signal": {
      "main": [
        [
          {
            "node": "Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v0",
    "availableInMCP": false,
    "errorWorkflow": "8o8quTMqNasL5GoW"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PMM Signal"
    },
    {
      "name": "Core [Control Plane]"
    }
  ],
  "pinData": {}
}