n8n_workflows/launch_detector_from_horizon.json
{
  "name": "Launch Detector from Horizon Signals [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "79f47a22-7b95-467a-bf77-fe0d3b5b0662",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Find recent horizon signals that look like launches\n-- Not already linked to a launch_tracker.launches entry\nSELECT \n  s.id AS signal_id,\n  s.company_id,\n  s.title,\n  s.summary,\n  s.evidence_urls,\n  s.meta,\n  s.created_at\nFROM control_plane.signals s\nWHERE s.signal_type = 'horizon'\n  AND s.created_at > CURRENT_DATE - INTERVAL '7 days'\n  AND (\n    LOWER(s.title) LIKE '%launch%'\n    OR LOWER(s.title) LIKE '%announce%'\n    OR LOWER(s.title) LIKE '%release%'\n    OR LOWER(s.title) LIKE '%introduc%'\n    OR LOWER(s.title) LIKE '%funding%'\n    OR LOWER(s.title) LIKE '%raised%'\n    OR LOWER(s.title) LIKE '%rebrand%'\n    OR LOWER(s.title) LIKE '%new product%'\n    OR LOWER(s.title) LIKE '%new feature%'\n    OR LOWER(s.summary) LIKE '%just launched%'\n    OR LOWER(s.summary) LIKE '%now available%'\n  )\n  AND NOT EXISTS (\n    SELECT 1 FROM launch_tracker.launches l\n    WHERE l.company_id = s.company_id\n      AND l.launch_date = s.created_at::DATE\n  )\nORDER BY s.created_at DESC;",
        "options": {}
      },
      "id": "eb68b59f-d805-42dd-adb3-33233e70e32c",
      "name": "Find Launch Signals",
      "type": "n8n-nodes-base.postgres",
      "position": [
        208,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_signals",
              "leftValue": "={{ $json.signal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6230ddd5-47a0-4887-973a-e22e77f85bd9",
      "name": "Has Signals?",
      "type": "n8n-nodes-base.filter",
      "position": [
        400,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT launch_tracker.create_from_horizon_signal('{{ $json.signal_id }}'::UUID) AS launch_id;",
        "options": {}
      },
      "id": "492a8cac-394d-49c8-972a-db21d3c3656c",
      "name": "Create Launch",
      "type": "n8n-nodes-base.postgres",
      "position": [
        608,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "launch_created",
              "leftValue": "={{ $json.launch_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f1ab5d1-d4e9-4465-8fdd-a36da36bc675",
      "name": "Launch Created?",
      "type": "n8n-nodes-base.filter",
      "position": [
        800,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT launch_tracker.capture_initial_state('{{ $json.launch_id }}'::UUID) AS captured;",
        "options": {}
      },
      "id": "c7888467-a068-4b54-b950-0989a938e019",
      "name": "Capture Initial State",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1008,
        0
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "R4dqt2sDzMKpQu7a",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "// Summary\nconst allItems = $('Create Launch').all();\nconst createdItems = $('Capture Initial State').all();\n\nreturn [{\n  json: {\n    run_completed_at: new Date().toISOString(),\n    horizon_signals_processed: allItems.length,\n    launches_created: createdItems.length,\n    launch_ids: createdItems.map(i => i.json.launch_id).filter(Boolean)\n  }\n}];"
      },
      "id": "e6157024-a3ae-4438-90dd-2d8d55c0dcd6",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "position": [
        1200,
        0
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Find Launch Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Launch Signals": {
      "main": [
        [
          {
            "node": "Has Signals?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Signals?": {
      "main": [
        [
          {
            "node": "Create Launch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Launch": {
      "main": [
        [
          {
            "node": "Launch Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Created?": {
      "main": [
        [
          {
            "node": "Capture Initial State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Initial State": {
      "main": [
        [
          {
            "node": "Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v0",
    "availableInMCP": false,
    "errorWorkflow": "8o8quTMqNasL5GoW"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PMM Signal"
    },
    {
      "name": "Core [Control Plane]"
    }
  ],
  "pinData": {}
}