n8n_workflows/launch_decay_tracker_weekly.json
{
  "name": "Launch Decay Tracker Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [100, 300],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Load active launches needing observation\nSELECT \n  l.id AS launch_id,\n  l.company_id,\n  l.launch_date,\n  l.launch_type,\n  l.launch_title,\n  l.initial_messaging,\n  l.initial_pricing,\n  l.weeks_tracked,\n  EXTRACT(DAYS FROM (CURRENT_DATE - l.launch_date)) / 7 AS current_weeks\nFROM launch_tracker.launches l\nWHERE l.tracking_status = 'active'\n  AND (\n    NOT EXISTS (\n      SELECT 1 FROM launch_tracker.decay_observations\n      WHERE launch_id = l.id\n    )\n    OR (\n      SELECT MAX(observation_date) FROM launch_tracker.decay_observations\n      WHERE launch_id = l.id\n    ) < CURRENT_DATE - INTERVAL '7 days'\n  )\nORDER BY l.launch_date DESC;",
        "options": {}
      },
      "id": "load_active_launches",
      "name": "Load Active Launches",
      "type": "n8n-nodes-base.postgres",
      "position": [300, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_launches",
              "leftValue": "={{ $json.launch_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter_empty",
      "name": "Has Launches?",
      "type": "n8n-nodes-base.filter",
      "position": [500, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get current homepage snapshot for comparison\nSELECT \n  ps.id AS snapshot_id,\n  ps.content_hash,\n  pf.h1_text,\n  pf.cta_labels\nFROM public.page_snapshots ps\nLEFT JOIN public.page_features pf ON pf.snapshot_id = ps.id\nJOIN public.tracked_pages tp ON tp.id = ps.tracked_page_id\nWHERE tp.company_id = '{{ $json.company_id }}'::UUID\n  AND (tp.page_type = 'homepage' OR tp.url NOT LIKE '%/%/%')\nORDER BY ps.created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "get_current_homepage",
      "name": "Get Current Homepage",
      "type": "n8n-nodes-base.postgres",
      "position": [700, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Count homepage changes since launch\nSELECT COUNT(*) AS homepage_change_count\nFROM public.page_diffs pd\nJOIN public.page_snapshots ps ON ps.id = pd.new_snapshot_id\nJOIN public.tracked_pages tp ON tp.id = ps.tracked_page_id\nWHERE tp.company_id = '{{ $('Load Active Launches').item.json.company_id }}'::UUID\n  AND (tp.page_type = 'homepage' OR tp.url NOT LIKE '%/%/%')\n  AND pd.created_at >= '{{ $('Load Active Launches').item.json.launch_date }}'::DATE;",
        "options": {}
      },
      "id": "count_homepage_changes",
      "name": "Count Homepage Changes",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Count pricing changes since launch\nSELECT COUNT(*) AS pricing_change_count\nFROM pricing_tracker.pricing_changes pc\nWHERE pc.company_id = '{{ $('Load Active Launches').item.json.company_id }}'::UUID\n  AND pc.detected_at >= '{{ $('Load Active Launches').item.json.launch_date }}'::DATE;",
        "options": {}
      },
      "id": "count_pricing_changes",
      "name": "Count Pricing Changes",
      "type": "n8n-nodes-base.postgres",
      "position": [1100, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate messaging drift score\n// Compares current state to initial_messaging captured at launch\n\nconst launchData = $('Load Active Launches').item.json;\nconst currentHomepage = $('Get Current Homepage').item.json;\nconst homepageChanges = $('Count Homepage Changes').item.json;\nconst pricingChanges = $('Count Pricing Changes').item.json;\n\nconst initial = launchData.initial_messaging || {};\nconst current = currentHomepage || {};\n\n// Simple drift calculation based on content hash and structural changes\nlet driftScore = 0;\n\n// Check if content hash changed\nif (initial.content_hash && current.content_hash && initial.content_hash !== current.content_hash) {\n  driftScore += 0.3;\n}\n\n// Check if H1 changed significantly\nif (initial.h1_text && current.h1_text) {\n  const similarity = calculateSimilarity(initial.h1_text, current.h1_text);\n  driftScore += (1 - similarity) * 0.3;\n} else if (initial.h1_text !== current.h1_text) {\n  driftScore += 0.2;\n}\n\n// Factor in number of changes\nconst changeCount = parseInt(homepageChanges.homepage_change_count) || 0;\nif (changeCount >= 5) driftScore += 0.3;\nelse if (changeCount >= 3) driftScore += 0.2;\nelse if (changeCount >= 1) driftScore += 0.1;\n\n// Normalize to 0-1\ndriftScore = Math.min(1, Math.max(0, driftScore));\n\nfunction calculateSimilarity(str1, str2) {\n  const words1 = str1.toLowerCase().split(/\\s+/);\n  const words2 = str2.toLowerCase().split(/\\s+/);\n  const set1 = new Set(words1);\n  const set2 = new Set(words2);\n  const intersection = [...set1].filter(x => set2.has(x)).length;\n  const union = new Set([...set1, ...set2]).size;\n  return intersection / union;\n}\n\nreturn [{\n  json: {\n    launch_id: launchData.launch_id,\n    company_id: launchData.company_id,\n    launch_title: launchData.launch_title,\n    weeks_since_launch: Math.floor(launchData.current_weeks),\n    messaging_drift_score: Math.round(driftScore * 100) / 100,\n    homepage_change_count: parseInt(homepageChanges.homepage_change_count) || 0,\n    pricing_change_count: parseInt(pricingChanges.pricing_change_count) || 0\n  }\n}];"
      },
      "id": "calculate_drift",
      "name": "Calculate Drift Score",
      "type": "n8n-nodes-base.code",
      "position": [1300, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT launch_tracker.record_observation(\n  '{{ $json.launch_id }}'::UUID,\n  {{ $json.messaging_drift_score }},\n  {{ $json.homepage_change_count }},\n  {{ $json.pricing_change_count }}\n) AS observation_id;",
        "options": {}
      },
      "id": "record_observation",
      "name": "Record Observation",
      "type": "n8n-nodes-base.postgres",
      "position": [1500, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get observation details to check if signal should be emitted\nSELECT \n  do.id,\n  do.decay_signal,\n  do.signal_emitted\nFROM launch_tracker.decay_observations do\nWHERE do.id = '{{ $json.observation_id }}'::UUID;",
        "options": {}
      },
      "id": "get_observation",
      "name": "Get Observation",
      "type": "n8n-nodes-base.postgres",
      "position": [1700, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should_emit",
              "leftValue": "={{ $json.decay_signal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "regex",
                "value": "^(decay|reframe|abandoned)$"
              }
            },
            {
              "id": "not_emitted",
              "leftValue": "={{ $json.signal_emitted }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should_emit_signal",
      "name": "Should Emit Signal?",
      "type": "n8n-nodes-base.filter",
      "position": [1900, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT launch_tracker.emit_signal('{{ $json.id }}'::UUID) AS signal_id;",
        "options": {}
      },
      "id": "emit_signal",
      "name": "Emit Signal",
      "type": "n8n-nodes-base.postgres",
      "position": [2100, 300],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Summary node\nconst allItems = $('Record Observation').all();\nconst emittedItems = $('Emit Signal').all();\n\nreturn [{\n  json: {\n    run_completed_at: new Date().toISOString(),\n    launches_observed: allItems.length,\n    signals_emitted: emittedItems.length,\n    signal_ids: emittedItems.map(i => i.json.signal_id).filter(Boolean)\n  }\n}];"
      },
      "id": "summary",
      "name": "Run Summary",
      "type": "n8n-nodes-base.code",
      "position": [2300, 300],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Load Active Launches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Launches": {
      "main": [
        [
          {
            "node": "Has Launches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Launches?": {
      "main": [
        [
          {
            "node": "Get Current Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Homepage": {
      "main": [
        [
          {
            "node": "Count Homepage Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Homepage Changes": {
      "main": [
        [
          {
            "node": "Count Pricing Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Pricing Changes": {
      "main": [
        [
          {
            "node": "Calculate Drift Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Drift Score": {
      "main": [
        [
          {
            "node": "Record Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Observation": {
      "main": [
        [
          {
            "node": "Get Observation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Observation": {
      "main": [
        [
          {
            "node": "Should Emit Signal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Emit Signal?": {
      "main": [
        [
          {
            "node": "Emit Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Signal": {
      "main": [
        [
          {
            "node": "Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
