n8n_workflows/packaging_quarterly_audit.json
{
  "name": "Packaging Quarterly Audit",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 0,
              "triggerAtHour": 10,
              "triggerAtDay": 1,
              "field": "cronExpression",
              "expression": "0 10 1 1,4,7,10 *"
            }
          ]
        }
      },
      "id": "pkgqa-cron-01",
      "name": "Quarterly 1st 10:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst month = now.getUTCMonth() + 1;\nconst year = now.getUTCFullYear();\n\nlet quarter;\nif (month >= 1 && month <= 3) {\n  quarter = 1;\n} else if (month >= 4 && month <= 6) {\n  quarter = 2;\n} else if (month >= 7 && month <= 9) {\n  quarter = 3;\n} else {\n  quarter = 4;\n}\n\nconst quarterLabel = `${year}-Q${quarter}`;\n\nreturn [{ json: { quarter: quarterLabel, year, quarterNumber: quarter } }];"
      },
      "id": "pkgqa-code-00",
      "name": "Compute Quarter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT l.user_id FROM packaging.landscape l WHERE l.snapshot_date >= (CURRENT_DATE - INTERVAL '90 days');",
        "options": {}
      },
      "id": "pkgqa-pg-01",
      "name": "Get Users With Landscape",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (l.company_id)\n  l.company_id, l.company_name, l.tier_structure, l.value_metric,\n  l.gating_strategy, l.plan_count, l.has_free_tier, l.has_enterprise,\n  l.snapshot_date\nFROM packaging.landscape l\nWHERE l.user_id = '{{ $json.user_id }}'::uuid\nORDER BY l.company_id, l.snapshot_date DESC;",
        "options": {}
      },
      "id": "pkgqa-pg-02",
      "name": "Get Landscape Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.company_name, b.change_type, b.strategic_interpretation, b.severity, b.created_at\nFROM packaging.briefs b\nWHERE b.user_id = '{{ $json.user_id }}'::uuid\n  AND b.created_at >= (CURRENT_DATE - INTERVAL '90 days')\nORDER BY b.created_at DESC;",
        "options": {}
      },
      "id": "pkgqa-pg-03",
      "name": "Get Recent Briefs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "const landscapeItems = $('Get Landscape Data').all();\nconst briefItems = $('Get Recent Briefs').all();\nconst quarterInfo = $('Compute Quarter').first();\n\nconst userId = landscapeItems.length > 0\n  ? $('Get Users With Landscape').first().json.user_id\n  : null;\n\nif (!userId) {\n  return [];\n}\n\nconst quarter = quarterInfo.json.quarter;\nconst landscape = landscapeItems.map(i => i.json);\nconst briefs = briefItems.map(i => i.json);\n\nconst totalCompanies = landscape.length;\nconst freeTierCount = landscape.filter(c => c.has_free_tier).length;\nconst enterpriseCount = landscape.filter(c => c.has_enterprise).length;\nconst valueMetrics = [...new Set(landscape.map(c => c.value_metric).filter(Boolean))];\nconst tierCounts = landscape.map(c => c.plan_count).filter(Boolean);\nconst avgTiers = tierCounts.length > 0 ? (tierCounts.reduce((a, b) => a + b, 0) / tierCounts.length).toFixed(1) : 0;\nconst gatingStrategies = [...new Set(landscape.map(c => c.gating_strategy).filter(Boolean))];\n\n// --- STRENGTHS ---\nconst strengths = [];\n\n// Unique value metrics\nconst metricCounts = {};\nlandscape.forEach(c => {\n  if (c.value_metric) {\n    metricCounts[c.value_metric] = (metricCounts[c.value_metric] || 0) + 1;\n  }\n});\nfor (const [metric, count] of Object.entries(metricCounts)) {\n  if (count === 1) {\n    const company = landscape.find(c => c.value_metric === metric);\n    strengths.push({\n      claim: `${company.company_name} has a unique value metric: ${metric}`,\n      evidence_count: 1\n    });\n  }\n}\n\n// Only one with free tier\nif (freeTierCount === 1) {\n  const company = landscape.find(c => c.has_free_tier);\n  strengths.push({\n    claim: `${company.company_name} is the only competitor offering a free tier`,\n    evidence_count: totalCompanies\n  });\n}\n\n// Most tiers\nconst maxTiers = Math.max(...tierCounts, 0);\nconst maxTierCompanies = landscape.filter(c => c.plan_count === maxTiers);\nif (maxTierCompanies.length === 1 && maxTiers > 0) {\n  strengths.push({\n    claim: `${maxTierCompanies[0].company_name} offers the most pricing tiers (${maxTiers})`,\n    evidence_count: 1\n  });\n}\n\n// Unique gating strategy\nconst gatingCounts = {};\nlandscape.forEach(c => {\n  if (c.gating_strategy) {\n    gatingCounts[c.gating_strategy] = (gatingCounts[c.gating_strategy] || 0) + 1;\n  }\n});\nfor (const [strategy, count] of Object.entries(gatingCounts)) {\n  if (count === 1) {\n    const company = landscape.find(c => c.gating_strategy === strategy);\n    strengths.push({\n      claim: `${company.company_name} has a unique gating strategy: ${strategy}`,\n      evidence_count: 1\n    });\n  }\n}\n\n// --- VULNERABILITIES ---\nconst vulnerabilities = [];\n\n// No free tier when most competitors have one\nif (freeTierCount > totalCompanies / 2) {\n  const noFree = landscape.filter(c => !c.has_free_tier);\n  noFree.forEach(c => {\n    vulnerabilities.push({\n      gap: 'No free tier while majority of competitors offer one',\n      competitor: c.company_name,\n      severity: freeTierCount >= totalCompanies * 0.75 ? 'high' : 'medium'\n    });\n  });\n}\n\n// No enterprise when competitors have it\nif (enterpriseCount > totalCompanies / 2) {\n  const noEnterprise = landscape.filter(c => !c.has_enterprise);\n  noEnterprise.forEach(c => {\n    vulnerabilities.push({\n      gap: 'No enterprise tier while majority of competitors offer one',\n      competitor: c.company_name,\n      severity: enterpriseCount >= totalCompanies * 0.75 ? 'high' : 'medium'\n    });\n  });\n}\n\n// Fewer tiers than average\nlandscape.forEach(c => {\n  if (c.plan_count && c.plan_count < avgTiers * 0.7) {\n    vulnerabilities.push({\n      gap: `Only ${c.plan_count} tiers vs. landscape average of ${avgTiers}`,\n      competitor: c.company_name,\n      severity: c.plan_count <= 1 ? 'high' : 'medium'\n    });\n  }\n});\n\n// --- OPPORTUNITIES ---\nconst opportunities = [];\n\n// No one offering usage-based\nconst usageBased = landscape.filter(c =>\n  c.value_metric && c.value_metric.toLowerCase().includes('usage')\n);\nif (usageBased.length === 0 && totalCompanies > 0) {\n  opportunities.push({\n    position: 'Usage-based pricing model',\n    rationale: 'No competitor currently offers usage-based pricing, creating an unoccupied position'\n  });\n}\n\n// Gap in tier count\nconst tierSet = new Set(tierCounts);\nfor (let i = Math.min(...tierCounts); i <= Math.max(...tierCounts); i++) {\n  if (!tierSet.has(i) && i > 0) {\n    opportunities.push({\n      position: `${i}-tier pricing structure`,\n      rationale: `No competitor occupies the ${i}-tier position, a potential gap in the market`\n    });\n  }\n}\n\n// No hybrid model\nconst hybridGating = landscape.filter(c =>\n  c.gating_strategy && c.gating_strategy.toLowerCase().includes('hybrid')\n);\nif (hybridGating.length === 0 && totalCompanies > 0) {\n  opportunities.push({\n    position: 'Hybrid gating model (feature + usage)',\n    rationale: 'No competitor uses a hybrid gating strategy, combining feature and usage gates'\n  });\n}\n\n// --- THREATS ---\nconst threats = [];\n\n// Convergence patterns from briefs\nconst changeTypeCounts = {};\nbriefs.forEach(b => {\n  if (b.change_type) {\n    if (!changeTypeCounts[b.change_type]) {\n      changeTypeCounts[b.change_type] = [];\n    }\n    changeTypeCounts[b.change_type].push(b.company_name);\n  }\n});\n\nfor (const [changeType, companies] of Object.entries(changeTypeCounts)) {\n  const uniqueCompanies = [...new Set(companies)];\n  if (uniqueCompanies.length >= 2) {\n    threats.push({\n      threat: `Multiple competitors making ${changeType} changes`,\n      competitors: uniqueCompanies.join(', '),\n      urgency: uniqueCompanies.length >= 3 ? 'high' : 'medium'\n    });\n  }\n}\n\n// Multiple competitors moving to same value metric\nfor (const [metric, count] of Object.entries(metricCounts)) {\n  if (count >= 2) {\n    const companiesWithMetric = landscape.filter(c => c.value_metric === metric).map(c => c.company_name);\n    threats.push({\n      threat: `Convergence toward ${metric} as value metric`,\n      competitors: companiesWithMetric.join(', '),\n      urgency: count >= 3 ? 'high' : 'medium'\n    });\n  }\n}\n\n// Multiple adding same tier type (free or enterprise)\nif (freeTierCount >= 3) {\n  const freeCompanies = landscape.filter(c => c.has_free_tier).map(c => c.company_name);\n  threats.push({\n    threat: 'Free tier becoming table stakes as most competitors now offer one',\n    competitors: freeCompanies.join(', '),\n    urgency: 'high'\n  });\n}\nif (enterpriseCount >= 3) {\n  const entCompanies = landscape.filter(c => c.has_enterprise).map(c => c.company_name);\n  threats.push({\n    threat: 'Enterprise tier becoming table stakes as most competitors now offer one',\n    competitors: entCompanies.join(', '),\n    urgency: 'high'\n  });\n}\n\n// --- BUILD MARKDOWN REPORT ---\nconst title = `Packaging Audit \\u2014 ${quarter}`;\n\nlet contentMd = `# ${title}\\n\\n`;\ncontentMd += `**Period:** Last 90 days | **Companies tracked:** ${totalCompanies} | **Briefs analyzed:** ${briefs.length}\\n\\n`;\n\ncontentMd += `## Strengths\\n\\n`;\nif (strengths.length === 0) {\n  contentMd += `_No distinct packaging strengths identified this quarter._\\n\\n`;\n} else {\n  strengths.forEach(s => {\n    contentMd += `- **${s.claim}** (evidence count: ${s.evidence_count})\\n`;\n  });\n  contentMd += `\\n`;\n}\n\ncontentMd += `## Vulnerabilities\\n\\n`;\nif (vulnerabilities.length === 0) {\n  contentMd += `_No packaging vulnerabilities identified this quarter._\\n\\n`;\n} else {\n  vulnerabilities.forEach(v => {\n    contentMd += `- **${v.competitor}**: ${v.gap} (severity: ${v.severity})\\n`;\n  });\n  contentMd += `\\n`;\n}\n\ncontentMd += `## Opportunities\\n\\n`;\nif (opportunities.length === 0) {\n  contentMd += `_No unoccupied positions identified this quarter._\\n\\n`;\n} else {\n  opportunities.forEach(o => {\n    contentMd += `- **${o.position}**: ${o.rationale}\\n`;\n  });\n  contentMd += `\\n`;\n}\n\ncontentMd += `## Threats\\n\\n`;\nif (threats.length === 0) {\n  contentMd += `_No convergence threats identified this quarter._\\n\\n`;\n} else {\n  threats.forEach(t => {\n    contentMd += `- **${t.threat}** \\u2014 ${t.competitors} (urgency: ${t.urgency})\\n`;\n  });\n  contentMd += `\\n`;\n}\n\n// --- BUILD CONTENT JSON ---\nconst contentJson = JSON.stringify({\n  total_companies: totalCompanies,\n  free_tier_count: freeTierCount,\n  enterprise_count: enterpriseCount,\n  avg_tiers: parseFloat(avgTiers),\n  value_metrics: valueMetrics,\n  gating_strategies: gatingStrategies,\n  briefs_analyzed: briefs.length,\n  strengths_count: strengths.length,\n  vulnerabilities_count: vulnerabilities.length,\n  opportunities_count: opportunities.length,\n  threats_count: threats.length\n});\n\nreturn [{\n  json: {\n    user_id: userId,\n    quarter,\n    title,\n    content_json: contentJson,\n    content_md: contentMd,\n    strengths: JSON.stringify(strengths),\n    vulnerabilities: JSON.stringify(vulnerabilities),\n    opportunities: JSON.stringify(opportunities),\n    threats: JSON.stringify(threats)\n  }\n}];"
      },
      "id": "pkgqa-code-01",
      "name": "Build Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO packaging.audits (user_id, quarter, title, content_json, content_md, strengths, vulnerabilities, opportunities, threats)\nVALUES (\n  '{{ $json.user_id }}'::uuid,\n  '{{ $json.quarter }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content_json }}'::jsonb,\n  '{{ $json.content_md.replace(/'/g, \"''\") }}',\n  '{{ $json.strengths }}'::jsonb,\n  '{{ $json.vulnerabilities }}'::jsonb,\n  '{{ $json.opportunities }}'::jsonb,\n  '{{ $json.threats }}'::jsonb\n)\nON CONFLICT (user_id, quarter) DO UPDATE SET\n  title = EXCLUDED.title,\n  content_json = EXCLUDED.content_json,\n  content_md = EXCLUDED.content_md,\n  strengths = EXCLUDED.strengths,\n  vulnerabilities = EXCLUDED.vulnerabilities,\n  opportunities = EXCLUDED.opportunities,\n  threats = EXCLUDED.threats;",
        "options": {}
      },
      "id": "pkgqa-pg-04",
      "name": "Write Audit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    }
  ],
  "connections": {
    "Quarterly 1st 10:00 UTC": {
      "main": [
        [
          {
            "node": "Compute Quarter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Quarter": {
      "main": [
        [
          {
            "node": "Get Users With Landscape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users With Landscape": {
      "main": [
        [
          {
            "node": "Get Landscape Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Recent Briefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Landscape Data": {
      "main": [
        [
          {
            "node": "Build Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Briefs": {
      "main": [
        [
          {
            "node": "Build Audit",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Audit": {
      "main": [
        [
          {
            "node": "Write Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8o8quTMqNasL5GoW"
  }
}