n8n_workflows/positioning_drift_alert.json
{
  "name": "Positioning Drift Alert [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 3,6"
            }
          ]
        }
      },
      "id": "posda-cron-01",
      "name": "Wed+Sat 10:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT de.id, de.user_id, de.page_url, de.page_type, de.change_description, de.severity, de.drift_direction, de.detected_at, de.evidence_urls FROM positioning.drift_events de WHERE de.resolved = false AND de.severity = 'high' AND de.detected_at >= now() - INTERVAL '14 days' ORDER BY de.detected_at DESC;",
        "options": {}
      },
      "id": "posda-pg-01",
      "name": "Get High Severity Drifts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "const drifts = $input.all().map(i => i.json);\nif (drifts.length === 0) return [];\n\n// Group by user_id\nconst byUser = {};\nfor (const d of drifts) {\n  if (!byUser[d.user_id]) byUser[d.user_id] = [];\n  byUser[d.user_id].push(d);\n}\n\nconst signals = [];\nfor (const [userId, userDrifts] of Object.entries(byUser)) {\n  const pages = userDrifts.map(d => d.page_type).join(', ');\n  const evidenceUrls = userDrifts.flatMap(d => d.evidence_urls || []);\n  \n  signals.push({\n    json: {\n      signal_type: 'positioning_drift',\n      source_platform: 'linkedin',\n      company_name: null,\n      severity: 4,\n      confidence: 0.8,\n      title: `High-severity positioning drift detected (${userDrifts.length} events)`,\n      summary: `Unresolved high-severity positioning changes detected on ${pages}. ${userDrifts.map(d => d.change_description).join('; ')}`,\n      evidence_urls: evidenceUrls,\n      source_schema: 'positioning',\n      source_table: 'drift_events',\n      source_id: userDrifts[0].id,\n      meta: {\n        user_id: userId,\n        drift_count: userDrifts.length,\n        page_types: [...new Set(userDrifts.map(d => d.page_type))]\n      }\n    }\n  });\n}\n\nreturn signals;"
      },
      "id": "posda-code-01",
      "name": "Build Drift Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dnqjzgfunvbofsuibcsk.supabase.co/functions/v1/ingest-external-signal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "sp-n8n-ingest-2026"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "posda-http-01",
      "name": "Emit Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "connections": {
    "Wed+Sat 10:00 UTC": {
      "main": [
        [
          {
            "node": "Get High Severity Drifts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get High Severity Drifts": {
      "main": [
        [
          {
            "node": "Build Drift Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Drift Signals": {
      "main": [
        [
          {
            "node": "Emit Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8o8quTMqNasL5GoW"
  }
}