n8n_workflows/post_launch_decay_monitor.json
{
  "name": "Post-Launch Decay Monitor [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "pldm-cron-01",
      "name": "Weekly Monday 09:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT l.id AS launch_id, l.user_id, l.launch_name, l.product_name, l.competitor_names, l.actual_launch_date, l.weeks_tracked, l.initial_messaging, l.initial_positioning, l.readiness_score FROM launch.launches l WHERE l.phase = 'post_launch' AND l.weeks_tracked < 4;",
        "options": {}
      },
      "id": "pldm-pg-01",
      "name": "Get Post-Launch Launches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.signal_type, s.company_name, s.title, s.summary FROM control_plane.signals s WHERE s.user_id = '{{ $json.user_id }}'::uuid AND s.company_name = ANY(ARRAY[{{ $json.competitor_names ? $json.competitor_names.map(n => \"'\" + n.replace(/'/g, \"''\") + \"'\").join(',') : \"''\" }}]) AND s.created_at >= now() - INTERVAL '7 days' ORDER BY s.created_at DESC LIMIT 30;",
        "options": {}
      },
      "id": "pldm-pg-02",
      "name": "Fetch Week Signals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "const launch = $('Get Post-Launch Launches').item.json;\nconst signals = $('Fetch Week Signals').all().map(i => i.json);\n\nconst weekNumber = (launch.weeks_tracked || 0) + 1;\n\n// Compute messaging drift\nconst messagingSignals = signals.filter(s => s.signal_type === 'messaging');\nconst positioningSignals = signals.filter(s => s.signal_type === 'positioning');\nconst homepageSignals = signals.filter(s => s.signal_type === 'messaging' || s.signal_type === 'positioning');\n\n// Drift scoring: more competitor activity = higher drift\nconst messagingDrift = Math.min(100, messagingSignals.length * 15 + positioningSignals.length * 10);\nconst homepageChanges = homepageSignals.length;\nconst competitorResponses = signals.length;\n\n// Determine momentum\nlet momentum = 'holding';\nif (messagingDrift < 20 && competitorResponses < 3) momentum = 'strong';\nelse if (messagingDrift > 60 || competitorResponses > 10) momentum = 'fading';\nelse if (positioningSignals.length > 3) momentum = 'pivoted';\n\n// Competitor reactions\nconst reactions = {};\nfor (const s of signals) {\n  if (!reactions[s.company_name]) reactions[s.company_name] = [];\n  reactions[s.company_name].push(s.title);\n}\nconst competitorReactions = Object.entries(reactions).map(([comp, titles]) => ({\n  competitor: comp,\n  reaction: titles.slice(0, 2).join('; '),\n  severity: titles.length > 3 ? 'high' : titles.length > 1 ? 'medium' : 'low'\n}));\n\n// Recommendations\nconst recommendations = [];\nif (messagingDrift > 50) recommendations.push({ label: 'Update Messaging', detail: 'Significant competitor messaging activity detected. Review and adjust positioning.' });\nif (momentum === 'fading') recommendations.push({ label: 'Reinforce Launch', detail: 'Launch momentum is fading. Consider additional promotion or content push.' });\nif (competitorResponses > 5) recommendations.push({ label: 'Monitor Responses', detail: `${competitorResponses} competitor signals this week. Track for counter-positioning.` });\n\n// Brief content\nconst briefTitle = `Decay Report \u2014 Week ${weekNumber}`;\nconst briefMd = `# ${briefTitle}\\n**Launch:** ${launch.launch_name}\\n**Week:** ${weekNumber} of 4\\n**Momentum:** ${momentum}\\n\\n---\\n\\n## Messaging Drift: ${messagingDrift}%\\n## Homepage Changes: ${homepageChanges}\\n## Competitor Responses: ${competitorResponses}\\n\\n## Competitor Reactions\\n${competitorReactions.map(cr => `- **${cr.competitor}**: ${cr.reaction} [${cr.severity}]`).join('\\n') || 'No notable reactions'}\\n\\n## Recommendations\\n${recommendations.map(r => `- **${r.label}**: ${r.detail}`).join('\\n') || 'Stay the course.'}\\n\\n---\\n*Generated by Signal Plane Launch Operations*`;\n\nreturn [{\n  json: {\n    launch_id: launch.launch_id,\n    user_id: launch.user_id,\n    week_number: weekNumber,\n    messaging_drift: messagingDrift,\n    homepage_changes: homepageChanges,\n    competitor_responses: competitorResponses,\n    momentum: momentum,\n    competitor_reactions_json: JSON.stringify(competitorReactions),\n    recommendations_json: JSON.stringify(recommendations),\n    brief_title: briefTitle,\n    brief_md: briefMd,\n    brief_json: JSON.stringify({ momentum, drift: messagingDrift, reactions: competitorReactions }),\n    signal_count: signals.length,\n    days_since_launch: Math.round((Date.now() - new Date(launch.actual_launch_date).getTime()) / (1000 * 60 * 60 * 24))\n  }\n}];"
      },
      "id": "pldm-code-01",
      "name": "Analyze Decay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO launch.decay_reports (launch_id, report_date, week_number, messaging_drift_score, homepage_change_count, competitor_response_count, momentum_status, competitor_reactions, recommendations) VALUES ('{{ $json.launch_id }}'::uuid, CURRENT_DATE, {{ $json.week_number }}, {{ $json.messaging_drift }}, {{ $json.homepage_changes }}, {{ $json.competitor_responses }}, '{{ $json.momentum }}', '{{ $json.competitor_reactions_json }}'::jsonb, '{{ $json.recommendations_json }}'::jsonb) ON CONFLICT (launch_id, week_number) DO UPDATE SET messaging_drift_score = EXCLUDED.messaging_drift_score, homepage_change_count = EXCLUDED.homepage_change_count, competitor_response_count = EXCLUDED.competitor_response_count, momentum_status = EXCLUDED.momentum_status, competitor_reactions = EXCLUDED.competitor_reactions, recommendations = EXCLUDED.recommendations;",
        "options": {}
      },
      "id": "pldm-pg-03",
      "name": "Write Decay Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO launch.briefs (launch_id, brief_type, brief_date, title, content_json, content_md, signal_count, days_to_launch) VALUES ('{{ $json.launch_id }}'::uuid, 'decay', CURRENT_DATE, '{{ $json.brief_title }}', '{{ $json.brief_json }}'::jsonb, '{{ $json.brief_md.replace(/'/g, \"''\") }}', {{ $json.signal_count }}, -{{ $json.days_since_launch }});",
        "options": {}
      },
      "id": "pldm-pg-04",
      "name": "Write Decay Brief",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE launch.launches SET weeks_tracked = {{ $json.week_number }}, phase = CASE WHEN {{ $json.week_number }} >= 4 THEN 'retrospective' ELSE 'post_launch' END, updated_at = now() WHERE id = '{{ $json.launch_id }}'::uuid;",
        "options": {}
      },
      "id": "pldm-pg-05",
      "name": "Update Launch Tracking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    }
  ],
  "connections": {
    "Weekly Monday 09:00 UTC": {
      "main": [
        [
          {
            "node": "Get Post-Launch Launches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post-Launch Launches": {
      "main": [
        [
          {
            "node": "Fetch Week Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Week Signals": {
      "main": [
        [
          {
            "node": "Analyze Decay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Decay": {
      "main": [
        [
          {
            "node": "Write Decay Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Decay Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Decay Report": {
      "main": [
        [
          {
            "node": "Update Launch Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8o8quTMqNasL5GoW"
  }
}