n8n_workflows/voc_market_pulse.json
{
  "name": "VoC Market Pulse [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 1-7 * 1"
            }
          ]
        }
      },
      "id": "vocmp-cron-01",
      "name": "1st Monday 08:30 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Only run on the first Monday of the month\nconst today = new Date();\nif (today.getDate() > 7) {\n  return [];\n}\nreturn [{ json: { run: true, report_month: today.toISOString().substring(0, 7) + '-01' } }];"
      },
      "id": "vocmp-code-00",
      "name": "Check First Monday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT e.user_id FROM research.voc_entries e WHERE e.first_seen >= (date_trunc('month', CURRENT_DATE) - INTERVAL '1 month') AND e.first_seen < date_trunc('month', CURRENT_DATE);",
        "options": {}
      },
      "id": "vocmp-pg-01",
      "name": "Get Users With Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT e.dimension, e.text, e.persona, e.frequency, e.trend, e.funnel_stage, e.source_platform FROM research.voc_entries e WHERE e.user_id = '{{ $json.user_id }}'::uuid AND e.first_seen >= (date_trunc('month', CURRENT_DATE) - INTERVAL '1 month') AND e.first_seen < date_trunc('month', CURRENT_DATE) ORDER BY e.frequency DESC;",
        "options": {}
      },
      "id": "vocmp-pg-02",
      "name": "Get Month Entries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Get Users With Data').item.json.user_id;\nconst reportMonth = $('Check First Monday').item.json.report_month;\nconst entries = $('Get Month Entries').all().map(i => i.json);\n\n// Top pains (ranked by frequency)\nconst pains = entries.filter(e => e.dimension === 'pain')\n  .slice(0, 10)\n  .map(e => ({ text: e.text, frequency: e.frequency, trend: e.trend, persona: e.persona }));\n\n// Emerging desires (rising trend first)\nconst desires = entries.filter(e => e.dimension === 'desire')\n  .sort((a, b) => (a.trend === 'rising' ? -1 : 1) - (b.trend === 'rising' ? -1 : 1))\n  .slice(0, 5)\n  .map(e => ({ text: e.text, frequency: e.frequency, trend: e.trend, persona: e.persona }));\n\n// Language shifts (rising or fading)\nconst langShifts = entries.filter(e => e.dimension === 'language' && e.trend !== 'stable')\n  .slice(0, 5)\n  .map(e => ({ term: e.text, previous_term: null, direction: e.trend === 'rising' ? 'emerging' : 'fading', persona: e.persona, first_seen: null }));\n\n// Criteria shifts\nconst critShifts = entries.filter(e => e.dimension === 'criteria' && e.trend !== 'stable')\n  .slice(0, 5)\n  .map((e, idx) => ({ criterion: e.text, direction: e.trend === 'rising' ? 'rising' : 'falling', previous_rank: null, current_rank: idx + 1, evidence_count: e.frequency }));\n\nconst monthName = new Date(reportMonth).toLocaleDateString('en-US', { month: 'long', year: 'numeric' });\nconst title = `Market Pulse \u2014 ${monthName}`;\n\nconst md = `# ${title}\\n\\n**Period:** ${monthName}\\n**Total Entries:** ${entries.length}\\n\\n---\\n\\n## Top Pains\\n${pains.map((p, i) => `${i+1}. ${p.text} (${p.frequency}x, ${p.trend})`).join('\\n') || 'None detected'}\\n\\n## Emerging Desires\\n${desires.map(d => `- ${d.text} (${d.frequency}x, ${d.trend})`).join('\\n') || 'None detected'}\\n\\n## Language Shifts\\n${langShifts.map(s => `- [${s.direction}] ${s.term}`).join('\\n') || 'None detected'}\\n\\n## Criteria Shifts\\n${critShifts.map(s => `- [${s.direction}] ${s.criterion} (${s.evidence_count} signals)`).join('\\n') || 'None detected'}\\n\\n---\\n*Generated by Signal Plane VoC Research*`;\n\nreturn [{\n  json: {\n    user_id: userId,\n    report_month: reportMonth,\n    title: title,\n    content_json: JSON.stringify({ pains_count: pains.length, desires_count: desires.length, lang_shifts_count: langShifts.length, crit_shifts_count: critShifts.length }),\n    content_md: md,\n    top_pains: JSON.stringify(pains),\n    emerging_desires: JSON.stringify(desires),\n    language_shifts: JSON.stringify(langShifts),\n    criteria_shifts: JSON.stringify(critShifts)\n  }\n}];"
      },
      "id": "vocmp-code-01",
      "name": "Build Market Pulse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO research.market_pulse (user_id, report_month, title, content_json, content_md, top_pains, emerging_desires, language_shifts, criteria_shifts) VALUES ('{{ $json.user_id }}'::uuid, '{{ $json.report_month }}'::date, '{{ $json.title.replace(/'/g, \"''\") }}', '{{ $json.content_json }}'::jsonb, '{{ $json.content_md.replace(/'/g, \"''\") }}', '{{ $json.top_pains }}'::jsonb, '{{ $json.emerging_desires }}'::jsonb, '{{ $json.language_shifts }}'::jsonb, '{{ $json.criteria_shifts }}'::jsonb) ON CONFLICT (user_id, report_month) DO UPDATE SET title = EXCLUDED.title, content_json = EXCLUDED.content_json, content_md = EXCLUDED.content_md, top_pains = EXCLUDED.top_pains, emerging_desires = EXCLUDED.emerging_desires, language_shifts = EXCLUDED.language_shifts, criteria_shifts = EXCLUDED.criteria_shifts;",
        "options": {}
      },
      "id": "vocmp-pg-03",
      "name": "Write Market Pulse",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    }
  ],
  "connections": {
    "1st Monday 08:30 UTC": {
      "main": [
        [
          {
            "node": "Check First Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check First Monday": {
      "main": [
        [
          {
            "node": "Get Users With Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users With Data": {
      "main": [
        [
          {
            "node": "Get Month Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Month Entries": {
      "main": [
        [
          {
            "node": "Build Market Pulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Market Pulse": {
      "main": [
        [
          {
            "node": "Write Market Pulse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8o8quTMqNasL5GoW"
  }
}