n8n_workflows/voc_persona_report.json
{
  "name": "VoC Persona Report [cloud]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1-7 * 1"
            }
          ]
        }
      },
      "id": "vocpr-cron-01",
      "name": "1st Monday 08:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Only run on the first Monday of the month\nconst today = new Date();\nif (today.getDate() > 7) {\n  return [];\n}\nreturn [{ json: { run: true, report_month: today.toISOString().substring(0, 7) + '-01' } }];"
      },
      "id": "vocpr-code-00",
      "name": "Check First Monday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT e.user_id, e.persona FROM research.voc_entries e WHERE e.persona IS NOT NULL AND e.first_seen >= (date_trunc('month', CURRENT_DATE) - INTERVAL '1 month') AND e.first_seen < date_trunc('month', CURRENT_DATE);",
        "options": {}
      },
      "id": "vocpr-pg-01",
      "name": "Get User Personas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT e.dimension, e.text, e.frequency, e.trend, e.funnel_stage, e.source_platform FROM research.voc_entries e WHERE e.user_id = '{{ $json.user_id }}'::uuid AND e.persona = '{{ $json.persona.replace(/'/g, \"''\") }}' AND e.first_seen >= (date_trunc('month', CURRENT_DATE) - INTERVAL '1 month') AND e.first_seen < date_trunc('month', CURRENT_DATE) ORDER BY e.frequency DESC;",
        "options": {}
      },
      "id": "vocpr-pg-02",
      "name": "Get Persona Entries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "parameters": {
        "jsCode": "const userId = $('Get User Personas').item.json.user_id;\nconst persona = $('Get User Personas').item.json.persona;\nconst reportMonth = $('Check First Monday').item.json.report_month;\nconst entries = $('Get Persona Entries').all().map(i => i.json);\n\nconst breakdown = { pain: 0, desire: 0, language: 0, criteria: 0 };\nfor (const e of entries) {\n  if (breakdown[e.dimension] !== undefined) breakdown[e.dimension]++;\n}\n\nconst topPains = entries.filter(e => e.dimension === 'pain').slice(0, 5);\nconst topDesires = entries.filter(e => e.dimension === 'desire').slice(0, 5);\nconst topLanguage = entries.filter(e => e.dimension === 'language').slice(0, 5);\nconst topCriteria = entries.filter(e => e.dimension === 'criteria').slice(0, 5);\n\nconst monthName = new Date(reportMonth).toLocaleDateString('en-US', { month: 'long', year: 'numeric' });\nconst title = `${persona} \u2014 ${monthName}`;\n\nconst md = `# ${title}\\n\\n**Entries:** ${entries.length} (${breakdown.pain} pains, ${breakdown.desire} desires, ${breakdown.language} language, ${breakdown.criteria} criteria)\\n\\n---\\n\\n## Top Pains\\n${topPains.map(p => `- ${p.text} (${p.frequency}x, ${p.trend})`).join('\\n') || 'None detected'}\\n\\n## Top Desires\\n${topDesires.map(p => `- ${p.text} (${p.frequency}x, ${p.trend})`).join('\\n') || 'None detected'}\\n\\n## Language Patterns\\n${topLanguage.map(p => `- ${p.text} (${p.frequency}x, ${p.trend})`).join('\\n') || 'None detected'}\\n\\n## Decision Criteria\\n${topCriteria.map(p => `- ${p.text} (${p.frequency}x, ${p.trend})`).join('\\n') || 'None detected'}\\n\\n---\\n*Generated by Signal Plane VoC Research*`;\n\nconst contentJson = {\n  top_pains: topPains,\n  top_desires: topDesires,\n  top_language: topLanguage,\n  top_criteria: topCriteria\n};\n\nreturn [{\n  json: {\n    user_id: userId,\n    persona: persona,\n    report_month: reportMonth,\n    title: title,\n    content_json: JSON.stringify(contentJson),\n    content_md: md,\n    entry_count: entries.length,\n    dimension_breakdown: JSON.stringify(breakdown),\n    language_shifts: '[]'\n  }\n}];"
      },
      "id": "vocpr-code-01",
      "name": "Build Persona Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO research.persona_reports (user_id, persona, report_month, title, content_json, content_md, entry_count, dimension_breakdown, language_shifts) VALUES ('{{ $json.user_id }}'::uuid, '{{ $json.persona.replace(/'/g, \"''\") }}', '{{ $json.report_month }}'::date, '{{ $json.title.replace(/'/g, \"''\") }}', '{{ $json.content_json }}'::jsonb, '{{ $json.content_md.replace(/'/g, \"''\") }}', {{ $json.entry_count }}, '{{ $json.dimension_breakdown }}'::jsonb, '{{ $json.language_shifts }}'::jsonb) ON CONFLICT (user_id, persona, report_month) DO UPDATE SET title = EXCLUDED.title, content_json = EXCLUDED.content_json, content_md = EXCLUDED.content_md, entry_count = EXCLUDED.entry_count, dimension_breakdown = EXCLUDED.dimension_breakdown, language_shifts = EXCLUDED.language_shifts;",
        "options": {}
      },
      "id": "vocpr-pg-03",
      "name": "Write Persona Report",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        400,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "OEiOQ9USQlfL1K62",
          "name": "Supabase Postgres"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    }
  ],
  "connections": {
    "1st Monday 08:00 UTC": {
      "main": [
        [
          {
            "node": "Check First Monday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check First Monday": {
      "main": [
        [
          {
            "node": "Get User Personas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Personas": {
      "main": [
        [
          {
            "node": "Get Persona Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Persona Entries": {
      "main": [
        [
          {
            "node": "Build Persona Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Persona Report": {
      "main": [
        [
          {
            "node": "Write Persona Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "8o8quTMqNasL5GoW"
  }
}